[2015-10-14 08:53] tgabi333 opened #1 "Got request timeout from nodejs api after a long period of inactivity"
I have connected to KMS using kurento-client through secure websocket. It worked as well. I left my node server running with  this open connection for a night, - no communication happened and now in the morning i've tried to register a new pipeline.

Using: KMS 6.1.1  on a distant network

[code]

Looking at the network stats:
[code]

And found these lines in the server log:
[code]

Could you plea

[2015-10-14 08:59] jcaden commented on #1
Can to attach kms log please?

[2015-10-14 09:10] tgabi333 commented on #1
https://clbin.com/VLeGH
and
https://clbin.com/i2jVy

Thank you

[2015-10-14 09:19] jcaden commented on #1
This request didn't arrived to the server. There should be a problem with the reconnection of the websocket.

[2015-10-14 11:03] tgabi333 opened #2 "Please change the title of kurento-tutorial-js"
[kurento-tutorial-js](https://github.com/Kurento/kurento-tutorial-js) on github has a false description `kurento-tutorial-java`.

Could you please fix? It may mislead someone.

[2015-10-14 11:13] igracia commented on #2
Are you referring to the Readme.md files from each separate tutorial?

[2015-10-14 11:20] tgabi333 commented on #2
No, i mean this, but it's changed meanwhile, thank you. ![screenshot from 2015-10-14 13 18 48](https://cloud.githubusercontent.com/assets/187022/10482150/3bf5ffc2-7276-11e5-87a8-5d60cca76f36.png)

[2015-10-14 11:20] #2 closed

[2015-10-14 11:31] igracia commented on #2
There's also a bug in the [readme files](https://github.com/Kurento/kurento-tutorial-js/blob/master/kurento-chroma/README.md#kurento-chroma) I've just submitted a patch to fix that, too.

[2015-10-14 12:26] igracia commented on #1
It seem like we have a bug in kurento-jsonrpc-client. We'll have a look at that!

[2015-10-14 13:12] igracia commented on #1
@rbenitez  Could you triage this, please? It seems like an issue in the KurentoClient in JavaScript. We should be reconnecting.

[2015-10-14 14:55] tsonghong opened #3 "Not able to get multiple WebRTC streams from different Kurento Media Servers to a single Browser"
I'm having a very odd issue trying to get a single Browser (
latest Chrome and  latest Firefox)
to receive WebRTC video from multiple Kurento Media Servers
(observed both in 6.1.1 and 6.0.1 as I have skipped 6.1.0).

It appears for a given browser page, I can only get media displayed
for the first Kurento Media Server that goes toward it.

For example, if I had:

KMS1 with WebRTC stream A and WebR

[2015-10-14 14:58] tsonghong opened #4 "Types are not correctly registered in js when there are name collisions in different modules"
I created a Node.js process that uses the Kurento Client (for KMS version 6.0)
who prompts the user to select one of the four of the kurento filters (platedetector, crowddetector, chroma, and pointerdetector)
for application on their live webcam and then applies the selected fitler.

However, one problem I've noticed is that registering both the chroma and pointerdetector filter
will cause the Kur

[2015-10-14 15:05] igracia commented on #4
@jcaden  Didn't we have something similar in August with one external module? I think @sancane got that fixed. Something related to the way factories are registered.

[2015-10-14 15:09] igracia commented on #3
Thanks for reporting this. It'll probably take some time for us to get round to this, as it is a corner case. We'll keep this open, and update here.

[2015-10-15 07:58] tgabi333 commented on #1
same happened today :(

[2015-10-15 08:09] tgabi333 commented on #3
I saw a strange behavior like this when connecting ice servers with multiple streams. It was some kind of network limitations to ice servers, the connection just hung out, even ssh connection for the same server hung out.

Are you sure that three streams from the same source is working?

[2015-10-15 08:12] jcaden commented on #1
I guess it will be happening until reconnection is fixed :smile:

[2015-10-15 08:13] tgabi333 commented on #1
How can i help, in which repo?

[2015-10-15 09:39] tsonghong commented on #3
In my setups, I didn't use any turn servers/ice servers, just stun servers.  What I do notice when running "nload" to see the traffic outgoing from the latter Kurento server stream is that there appears to be a brief burst of network outgoing before it settles back to previous level.  But still I don't see a single frame displayed.  Now, when I perform the same action with the order of the two Kur

[2015-10-15 09:40] tsonghong commented on #3
And yes, I'm able to successfully from a single Kurento server see multiple streams.  For example, I'll just hook up 3 cameras all feed Kurento Server A, and I'm able to see all 3 cameras fine from Kurento Server A on a single browser tab.

[2015-10-15 10:18] igracia commented on #1
We are debugging this. I'll get back to you as soon as we have solid info, but basically once the connection is lost, we are not reconnecting if needed. This happens after a certain idle time. There are workarounds and things that could be done about it, but we have a library that should be reconnecting. It looks like it's not working as it should.

[2015-10-16 07:21] tsonghong opened #5 "Kurento 6.1.1 some filters are leaking memory when not connected downstream"
Hi, I've noticed my Kurento server 6.1.1 would segfault with an error regarding rtpjitterbuffer
and would like to check with you guys for any ideas.
(I believe I had this issue since when I was using Kurento first time when it was 6.0.1
but decided to mentioned it now and don't suspect it's something introduced in 6.1.1 in particular)

Everytime there's a crash, I notice this rtpjitterbuffer line

[2015-10-16 07:27] igracia commented on #5
Henry, could you please tell us how to reproduce the bug. Next time, please attach the log files, and paste only the significant lines. Otherwise it's quite hard to read ;-)

@jcaden  I'm assigning this to you for triage

[2015-10-16 07:47] jcaden commented on #5
Stack trace is fine in this case instead of the log.

@tsonghong is this error happening all the times? I mean is a random error or is it consistent?

Video source should be also important in case it is consistent.

[2015-10-16 11:44] tsonghong commented on #5
Sorry for the long post, I'll attach files next time.

Right now, it seems to be random as I have not figured out a pattern to cause this.  So, it appears to crash maybe average 3 times a week with this.  but there are multiple streams going on the server so it's hard to say it's not reproducible.

We use H.264 streams and in terms of endpoints, only the WebRTCEndpoint and CV Filter plugin endpoin

[2015-10-16 17:56] davidrodriguezalfayate opened #6 "Composite recording problems"
<h2>Backgrounds</h2>
Composite is used only to record video from one user and audio for the rest of logged on users.<br/>
Composite is not used to deliver video nor audio to the logged on users, these negotiate independent WebRTC stream for each logged on user with the KMS

<h2>Detailed description</h2>
I have made several tests involving composite & hubport creation order:
<ul>
<li>Creating the c

[2015-10-16 21:30] igracia commented on #6
We are creating a number of tests for the recorder precisely. I'll see if we can reproduce this in our test environment, so we can debug that. Thanks for the detailed report!

I hope we can give more info during the next week.

[2015-10-18 12:47] tsonghong commented on #5
Ok, I think I know how to reproduce this issue more easily and was able to reproduce it with the ChromaFilter.  But in general, it appears any CV Filter (with possible exception of the FaceDetection one) can reproduce this.

So the pipeline setup is as such:

WebRTCEndpoint#1 --> ChromaFilter --> WebRTCEndpoint#2

where a H.264 camera source is streaming to WebRTCEndpoint#1 and the user on Firefox

[2015-10-18 13:51] tsonghong commented on #5
Ok, the puzzle is much more clearer now with some more testing:  It appears that if the CV Filter is running and feeding 1 or more WebRTCEndpoint sinks, but if you then disconnect all the WebRTCEndpoint sinks from the CV Filter, we see the memory of the Kurento Media Server skyrocket eating multiple Gigabytes of memory every few seconds.  I.e. So long as one sink is still present, the memory won't

[2015-10-19 10:02] jcaden commented on #5
Reading the stack trace and your last comment, It seems that you are running out of memory and because of this, depayloader fails when trying to get memory for mapping the buffers.

Are the opencv filters generated by you? Have you observed that this filters does not leak memory?

[2015-10-19 10:06] jcaden commented on #5
One more question, are you using this elements on a custom pipeline or are they used inside Kurento Media Server?

[2015-10-19 11:52] tsonghong commented on #5
Thanks, I'm using the ChromaFilter provided by Kurento.  From what I observed, it doesn't leak if 1) it hasn't connected to any sink yet or 2) it's at least connected to one sink.  If all previosuly connected sinks are disconnected, I see the memory sky rocket.  Normally, when the memory doesn't increase the KMS is just hovering around 800 MB.

If I don't have any Filter and just use WebRTC Endpoi

[2015-10-19 12:18] jcaden commented on #5
Thanks, so it seems that CrhomaFilter is leaking when there are no downstream elements. Have you observed that with other filters or just with chroma?

[2015-10-19 12:26] tsonghong commented on #5
I observed this with the others as well with the possible exception of the FaceDetectionOne.   Also, i verified my own CV Filter plugin has the same issue as well.

[2015-10-20 17:08] tgabi333 opened #7 "weird errors on startup about libraries"
I found these at `/var/log/kurento/media-server_error.log`, but my system is working fine

Is there any problem with it?

[code]

[2015-10-21 10:54] igracia commented on #7
Those errors can be safely ignored. The first one is just informing that there is no Firewire libraries (they are not needed). The other errors are due to the timestamp creation of the packages. Please make sure that all packages are up to date running `sudo apt-get update && sudo apt-get upgrade && sudo apt-get dist-upgrade`. The last one is just to make sure no packages are kept back.

This is n

[2015-10-21 10:54] #7 closed

[2015-10-21 11:25] tgabi333 commented on #7
Thanks @igracia.

[2015-10-23 20:58] andrew-koster- opened #8 "Non-resolvable parent POM in tutorial project"
There appears to be a problem with the structure of the Maven projects, and I don't know these projects well enough to fix this structural problem.

I'm following the instructions in https://www.kurento.org/docs/current/tutorials/java/tutorial-3-one2many.html with the goal of setting up a basic media server.

I've created a new Ubuntu 14.04 machine for this purpose and cloned the sources just befo

[2015-10-27 14:23] igracia commented on #8
There is no problem with the structure of the project. You had just checked out the development version of the tutorials, which depends on a SNAPSHOT artifact. Since dev artifacts are not published in maven central, you need to checkout a release version of the projects, or add our development repo. Please read more in [this](https://stackoverflow.com/questions/32729319/error-trying-to-compile-kur

[2015-10-27 14:23] #8 closed

[2015-10-29 12:49] sancane commented on #4
It seems that there is a bug in kurento-client that completely messes kurento modules when invoking methods on the media server. I've reproduced that error and I've got next trace when I tryed to create a ChromaFilter:

DEBUG   KurentoWebSocketTransport WebSocketTransport.cpp:484:processMessage: Message: >{"id":3,"jsonrpc":"2.0","method":"create","params":{"constructorParams":{"mediaPipeline":"206

[2015-10-29 13:39] igracia commented on #4
Thanks for the patch. Definitely, this should be fixed also in the kurento-client. The problem seems to be that kurento-module-creator does not support namespaces, so we'll have to have a look at that in order to support it, and not have those collisions.

@jcaden I think the priority on this one is quite low, but it would be nice to get that fixed. Otherwise, when users generate their own modules

[2015-10-30 08:36] sancane commented on #5
I could not reproduce this bug neither using vp8 nor h264. I've tested using a WebRtcEndpoint connected to a chroma and that chroma connectect back to the WebRtcEndpoint, then I disconnect the media flowing from the Chroma to the WebRtcEndpoint, at this point I only have the WebRtcEndPoint connected to the Chroma (no media flows from chroma to anywhere).
CPU consuption remains stable, memory does

[2015-10-30 10:53] tsonghong commented on #5
Instead of connecting back to the same WebRtcEndpoint (causing a loopback),
can you connect to a different WebRtcEndpoint that feeds to another user ?

Thanks!

Henry

On Fri, Oct 30, 2015 at 4:36 PM, Santiago Carot-Nemesio <
notifications@github.com> wrote:

--
*We do everything against time in search of a complete life.*

[2015-10-31 18:52] hunternet93 opened #9 "NPM package 'kurento-browser-extensions' doesn't exist"
kurento-utils optionally depends on kurento-browser-extensions, a non-existent package. This causes Meteor to crash while attempting to install kurento-utils. While that's probably a Meteor bug, it might be a good idea to create a stub package or something.

[2015-11-02 09:20] igracia commented on #9
We'll either do that, or remove the dependency.

[2015-11-02 23:34] virtualfunction opened #10 "Support for ORTC, more specifically MS Edge"
Hi, I'm relatively new to all this WebRTC stuff so trying to get my head round the various edge cases etc.

I see ORTC has landed in from about build 10572 of Windows 10. Is there any plans for Kurento to support this? I'm raising it here as I see it as a feature request, and I think it's fairly valid one given:

* MS Edge will soon have a large enough market share to be considered important
* ORT

[2015-11-03 18:45] hunternet93 commented on #9
What's the timeframe on fixing this? Would anyone mind if I created a stub package with that name until a Kurento dev can fix the issue? Sorry to be a bother, but I'd like to get coding.

[2015-11-03 21:56] virtualfunction commented on #10
OK, had another quick stab at looking at this. Replacing addEventListener with respective on* = function equivalents seems to work. From  what I see things get up to the SDP answer phase but fall short as soon as setRemoteDescription gets called. Whatever is being passed to RTCIceTransport#start is failing (guessing it's throwing InvalidParameters), and subsequent RTCIceTransport#addRemoteCandidat

[2015-11-04 08:23] igracia commented on #10
Yes, that seems related to the fact that ORTC-adapter doesn't doesn't include the `sdpMid` field. Also, you might find some other issues, like the one with the `addEventListener` not being there, and having to resort to `on` things.

About ORTC, we are not planning on opening that can of worms right now. That would be spreading ourselves too thin, and we can do that at the moment.

[2015-11-05 15:50] dfernandezlop commented on #3
Hi,

I have tested two videos in the same browser tab (Chrome 46.0.2490.80 (64-bit))  and everything works fine. I'm using VP8. My configurations are:

- KMS A in host machine (Ubuntu 14.04).
Version: 6.1.2~1.g18ab837
Found modules:
        Module: 'core' version '6.1.3~32.g30d3f45'
        Module: 'elements' version '6.1.2~22.g5c261e9'
        Module: 'filters' version '6.1.2~2.gafec4f4'

- KMS B

[2015-11-05 21:36] tsonghong commented on #3
HI David, thanks for that.  I don't get any noticeable error message.

When you do your test, is your testing client a Mac OS ?

I noticed that if I had the combo of Mac OS client + VP8 + Chrome, then I
didn't see the issue.

But if I had Ubuntu client + VP8 + Chrome, then I did see the issue.

Henry

On Thu, Nov 5, 2015 at 11:50 PM, David Fernández López <
notifications@github.com> wrote:

--
*We

[2015-11-06 08:13] dfernandezlop commented on #3
Hi Henry,

Client was Chrome 46.0.2490.80 (64-bit)  in Ubuntu. Maybe you have different versions of Chrome in MacOs and Ubuntu?

[2015-11-06 08:34] tsonghong commented on #3
Hi David,

I think maybe my Chrome versions may have been slightly different at that time.  I would need to reverify.
But if you don't mind, since your setup is already there and ready,
is it possible you can do me a favor and force H.264 on your Ubuntu client and use Firefox and see if you can get the issue?  Mainly, because my own use case is H.264 + Firefox as opposed to VP8

If you want to fol

[2015-11-06 11:02] dfernandezlop commented on #3
Hi Henry,

I have tested with VP8 in Firefox and it doesn't work. I get errors like this in KMS log:

WARN          dtlsconnection gstdtlsconnection.c:721:openssl_poll:<GstDtlsConnection@0x7f7f30006520> Unknown SSL error: 6, ret: 0

It seems that Firefox has a weird behaviour with SSL keys, we will try to investigate it.

Thanks for the report.

[2015-11-09 14:19] virtualfunction commented on #10
OK, I'll see how far I can get with the ORTC adapter and poke them in the mean time. I gathered this is long term thing that would need to be done in the next major release. I guess the other thing is the WebRTCEndPoint extends from SdpEnpoint so it's quite intertwined.

[2015-11-09 14:43] igracia commented on #10
Yes, it's quite intertwined at the moment. It is also not the #1 priority right now to provide support for edge, as they haven't even reached 1% of the market share yet, and it seems that it's not gaining traction.

In any case, don't despair, as we are keeping an eye on that. It's something we won't miss for sure, but it just that we are not rushing to get there ;-)

I think we can close this iss

[2015-11-09 22:57] virtualfunction opened #11 "Ubuntu Wily packages..."
It seems the distro packages for Ubuntu no longer work due to dependencies not being meet since upgrading from vivid. Hopefully it should just be a case of just tweaking these surely to line up with wily's packages? Currently I'm working round this by using Docker with --net=host

[2015-11-10 10:05] igracia commented on #11
They are not supposed to, as the reference distro is Ubuntu 14.04.3. However, I'll check if someone around here is using Wily, but I think none of us has upgraded yet.

P.S. I've assigned the `invalid` flag since the distro is not officially supported

[2015-11-13 09:46] kapetan opened #12 "Media server crashes when calling proccessOffer with an empty string using the node library"
We are using `kurento-client` version `6.1.0` module in Node.js.

When calling `WebRtcEndpoint.processOffer('')` with an empty string the the media server crashes. The error log contains following entry.

[code]

The same error occurs when calling `processAnswer` with an empty string. It can also be reproduced by using a `RtpEndpoint`.

We're running `Ubuntu 14.04 LTS` and the following Kurento ve

[2015-11-13 09:52] igracia commented on #12
@jcaden Could you have a look at this, please? It seems that the `WebRtcEndpoint.processOffer()` chokes on empty string params, and wreaks havoc in the KMS.

[2015-11-13 10:03] tylkomat opened #13 "Kurento-room-server does not have a mainClass defined in pom.xml"
I use openjdk-7 and receive the following error:
[code]

[2015-11-13 10:34] jcaden commented on #12
I think that I fixed this in the development version a couple of weeks ago. Could you please try with dev version to confirm that it is fixed?

[2015-11-13 11:54] kapetan commented on #12
It's seems to have been fixed.

I tried it with development version:

[code]

And got an `Empty offer not valid` error back.

Thanks for the quick reply.

[2015-11-13 12:16] igracia commented on #12
Ok, I'm closing this issue then. Next time, please make sure to check first with the development version.

[2015-11-13 12:16] #12 closed

[2015-11-13 13:44] igracia commented on #13
It seems to me that you are executing `mvn exec:java`, not compiling. The kurento-room-server is not supposed to be used like that, as it has to be embedded in a Spring-Boot application. Please have a look at [this project](https://github.com/Kurento/kurento-room/tree/master/kurento-room-demo) for an executable kurento-room-server.

I think there is a mistake in the documentation on how to run thi

[2015-11-13 14:10] rvlad commented on #13
@igracia you're right, there is an errata, the Maven command should be executed from the `kurento-room-demo` folder.
[code]

[2015-11-13 17:17] spongessuck opened #14 "Feature Request: Fire event when recorded file is finished writing to disk"
It would be helpful to have a way to know when recorded files are finished writing to disk.

I need to be able to play my recorded files soon after stopping the recording, and knowing when they're ready to play would be nice.

[2015-11-15 16:54] spongessuck commented on #14
It might be helpful if the API allowed passing in a keyframe interval to the RecorderEndpoint. If a few keyframes were dropped into the file, it would make it possible to play it/seek through it before it's completely written to disk.

[2015-11-15 19:57] igracia commented on #14
@jcaden We can keep this unassigned here until you decide when/if this goes in.

[2015-11-15 20:02] igracia commented on #13
@rvlad Thanks!
@tylkomat We've updated the README.md, but the patch is now in our CI. It will go to github soon. We'll close the issue once the patch is merged. Thanks for reporting this!

[2015-11-16 06:54] tsonghong commented on #3
Hi David, many thx for that.  Because I'd like to deploy a service using multiple kurentos with Firefox as the client, do you know what the realistic chance of this possibly getting solved or what timeframe is realistic?   Henry

[2015-11-16 07:50] mishamistral commented on #3
Hello, my scenario is different, but with a similar behavior.

I have:

clientA --> Kurento1 <-- clientB -->Kurento2

so clientA communicates with clientB trough Kurento1. For some reasons (PlumberEndpoint I miss you so much !!), clientB needs to record his stream on Kurento2, so it needs to be connected to two different Kurento servers

Well:

if clientB starts recording to Kurento2 AFTER the con

[2015-11-16 08:38] jcaden commented on #14
@igracia Perfect, let's dot this way until we have the chance to implement it.

[2015-11-16 08:40] igracia commented on #3
@mishamistral Before going any further, could you please check with the latest development versions? There are some [known incompatibilities](https://groups.google.com/forum/#!searchin/kurento/chrome$2046/kurento/TC7JuK3GZ14/MUXXMHUOCgAJ) between KMS and Chrome 46.

[2015-11-16 09:02] mishamistral commented on #3
Thank you for your reply. I'll try with the development version, but I have the same problem using Firefox 42.

[2015-11-16 09:11] igracia commented on #3
@mishamistral Just the same, otherwise debugging can be fruitless.

[2015-11-17 00:11] andrew-koster- opened #15 "The One2ManyCallApp refuses connections when the HTML client page is served from a different machine"
I've set up the unmodified tutorial app on a server, and it works as far as that goes: http://chat-server-rtc.dev.t3ach.co:8080/

But my existing site isn't on that server, it's on a dedicated Apache server that only serves static HTML/Javascript files. I expect that this would be the case with almost all real-world uses of this software (am I wrong?).

I've copied the HTML and Javascript, from th

[2015-11-17 08:34] mishamistral commented on #3
Hi Ivan,

I tried with the following version:

Version: 6.1.2~4.g3c371d0
Found modules:
        Module: 'core' version '6.1.3~41.g3d7be7b'
        Module: 'elements' version '6.1.2~35.gc88c519'
        Module: 'filters' version '6.1.2~3.gf1efe25'

Os: Ubuntu 14.04.03

and Firefox 42 on Windows 7; the result was the same than before: no connection to the second server after a connection to a first

[2015-11-17 09:51] igracia commented on #3
Ok, thanks for trying that.

@dfernandezlop Could you have a look at this report too, please?

[2015-11-17 10:04] igracia commented on #15
Instead of copying the content of the app, have you tried proxying via Apache? This

clearly indicates that it's trying to connect to a place where the websockets are not listening (note that the port is missing)

What you are asking is indeed very common, but I think that how to best server your web-app is out of the scope of the project.

[2015-11-17 10:58] dfernandezlop commented on #3
@tsonghong Sorry, but I can't offer you a timeframe to solve the problem. We will try to find a solution, but it is not in our near roadmap.

@mishamistral Hi, we need more information to evaluate your problem. The perfect situation will be that you can provide us a  test application to check the problem. If it is no possible, at least we need to know exactly your pipeline and your network configu

[2015-11-19 16:21] jcaden commented on #11
I've upgraded to wily and what I am doing is generating packages myself, this is something not recommended for not advanced users and something that we are not supporting at all. Nevertheless, I had to solve many compilation issues that arised in wily.

[2015-11-20 15:24] mishamistral commented on #3
Thank you for your support. You can reproduce the problem, using the kurento helloworld tutorial. I modified the code to use two different kurento servers:
[code]
When you open the application in the first firefox tab. all works fine; if you open another instance in a second tab (so using the second server), this instance doesn't work; another instance in a third tab will works fine, because it wi

[2015-11-20 15:46] jcaden commented on #3
In the case of your test, the problem is that you are connecting to two servers that have different dtls certificates and the same IP address. This situation could be fixed using the same certificate but it is something that we are not supporting right now.

[2015-11-20 15:54] mishamistral commented on #3
I had the same problem using two different servers with two different IP addresses. If you want, I can retest the hello world scenario using two different servers.

[2015-11-20 16:01] jcaden commented on #3
Yes please, re-test using servers in different IP addresses. It will be great if you could also test using chrome.

Thank you.

[2015-11-23 09:00] mishamistral commented on #3
I tested the modified Hello World with two servers with different IP addresses with these results on a Windows 7 machine:
Firefox 42 doesn't work;
Chrome 46.0.2490.80 works fine.
After that I modified the application, merging all in a single page:
[code]
As before, it works on Chrome only.
Finally, I added a RecorderEndpoint in the two pipelines:

[code]
On Chrome, it records only in the first con

[2015-11-23 11:31] jcaden commented on #6
Hi, we have been working on improving composite and recorder. Could you check if the issue is fixed for you using the dev version?

[2015-11-23 11:33] jcaden commented on #5
We have perform several tests and we are not able to reproduce the issue.

If you think the issue is still there in the development version feel free to re open the issue adding a test we can run to debug the issue.

[2015-11-23 11:33] #5 closed

[2015-11-23 12:59] rvlad commented on #13
Fixed in commit 5c59c6ee919cce1f8955b9c54884856fb5186854

[2015-11-23 12:59] #13 closed

[2015-11-24 15:26] davidrodriguezalfayate commented on #6
I'll give it a try as soon as possible, is dev version published or do I
have to compile it?

2015-11-23 12:31 GMT+01:00 José Antonio Santos Cadenas <
notifications@github.com>:

[2015-11-24 15:29] igracia commented on #6
Have a look at the documentation [here](https://doc-kurento.readthedocs.org/en/latest/mastering/kurento_development.html)

[2015-11-26 15:46] tsonghong opened #16 "one2many tutorial not working with Firefox 42.0 when requesting video only"
With the kurento one2many tutorial (https://github.com/Kurento/kurento-tutorial-node.git),
we found that the video would not show up under the 'Viewer'
in the Firefox browser under these circumstances:

1) The traffic is H.264.  I.e. We disabled vp8 on KMS forcing h.264.  vp8 traffic doesn't appear to have this issue
2) The browser is Firefox version 42.0.  We verified the older Firefox versions l

[2015-11-27 10:04] jcaden commented on #6
You can also use version 6.2.0 that we released recently. This one has also the fixes for composite and recorder.

[2015-11-30 10:42] sainttail commented on #1
This still happen with kurento-client-js 6.2, somehow the connection die and reconnect not working so right now I have to capture the request timeout error and call client._re._connection.end() to force reconnection again.

[2015-11-30 10:43] igracia commented on #1
@rbenitez Did you have a chance to take a look at this?

[2015-11-30 14:25] rbenitez commented on #1
Hi @sainttail, please could you tell me which version are you using of kurento-client-js?

Thanks

[2015-11-30 15:15] sainttail commented on #1
@rbenitez I'm currently using kurento-client-js 6.2.0 which just release recently.

[2015-11-30 15:54] rbenitez commented on #1
Ok, I will investigate what's the problem. I will tell you something as soon as possible.

Best

[2015-12-03 15:37] dfernandezlop commented on #16
Hi,
I can't reproduce the problem in Kubuntu. What operating system are using for your clients?

Thanks.
David.

[2015-12-03 16:05] tsonghong commented on #16
We're using Ubuntu and Mac mainly.

If you can't reproduce the issue, try to add buttons that can allow you to disconnect the Viewer from the feed and then reconnect it.  The reconnect should fail to show video.

You can copy my hack of the one2many tutorial to add the disconnect/reconnect button:

"
/kurento-tutorial-node/kurento-one2many-call$ git diff *
diff --git a/kurento-one2many-call/server

[2015-12-04 14:26] Saradomin opened #17 "KMS 6.1.1, one2many javascript. Audio quality drop soon after stream started ."
Hello ,

I haved used  one2many project and modified it to use audio only .
After the streaming is started , audio quality seems to drop significantly, but the stream has good banwidth.

Client :NodeJS Javascript  kurento-one2many-call
KMS : Version: 6.1.1
Found modules:
        Module: 'core' version '6.1.2'
        Module: 'elements' version '6.1.1'
        Module: 'filters' version '6.1.1'
OS :

[2015-12-04 14:34] dfernandezlop commented on #16
Hi,

I have checked with your modifications but I'm still not able to reproduce your error, everything work fine. I'm using the latest versions of development, right now:

Version: 6.2.1~2.g3db6e35
Found modules:
        Module: 'core' version '6.2.1~7.g7f703be'
        Module: 'elements' version '6.2.1~11.gfd9e266'
        Module: 'filters' version '6.2.1~1.gda6c417'

Could you update your KMS to

[2015-12-04 14:59] tsonghong commented on #16
Ok, I was using 6.1.2 Kurento.  Seems like 6.2.1 was just released.  I can probably get to testing this issue on 6.2.1 tommorow or early next week and let you know.

[2015-12-04 15:53] igracia commented on #17
I'm adding the webrtc internals captures here

![viewer](https://cloud.githubusercontent.com/assets/789069/11593953/78b91b3e-9aa7-11e5-9bc0-6ffc2845de2e.png)
![presenter_test](https://cloud.githubusercontent.com/assets/789069/11593954/78b97bce-9aa7-11e5-86e2-7b3e849185ac.png)

[2015-12-04 15:54] igracia commented on #17
@Saradomin Could you update you KMS to check with the latest version? 'Cos that's the first thing we are going to check ;-)

[2015-12-04 16:12] Saradomin commented on #17
ok , i will make the update and i will reply with result and  new screenshots if problem remains .Thank you

[2015-12-05 14:58] Saradomin commented on #17
Hello again ,

Sorry for delay.
I updated the KMS :

Here is the output of 'kurento-media-server -v':
Version: 6.2.0
Found modules:
        Module: 'core' version '6.2.0'
        Module: 'elements' version '6.2.0'
        Module: 'filters' version '6.2.0'

I did the tests on the source with my changes and the original source and i have same behaviour.
Quality still drops after first seconds .I can

[2015-12-07 04:25] tsonghong commented on #16
Ok, I just did the test with 6.2.1, but issue appears to remain.  So, basically, this time, when I hit "Viewer" I get the no video to show just the spinning wheel.  However, I did notice that if I subsequently click my customized "Disconnect" and then "Reconnect" button it will work sometimes.

The client I was testing on was a Mac OS one with Firefox 42.0.  I was running the node js one2many tuto

[2015-12-07 04:29] tsonghong commented on #16
Attached are the error logs.  Just focus on the last few pages of messa
[media-server_error.log.txt](https://github.com/Kurento/bugtracker/files/53455/media-server_error.log.txt)
[media-server_2015-12-06_21-31-44.00000.pid5741.log.txt](https://github.com/Kurento/bugtracker/files/53456/media-server_2015-12-06_21-31-44.00000.pid5741.log.txt)

ges.

[2015-12-07 09:39] dfernandezlop commented on #16
Hi,

I'm sure that i'm using H264. I can't see any error in your log.

For your log, I have seen that your KMS is behind a NAT and you are using a STUN. For your comments, I understand that there is not problems in the ice negotiation because, this negotiation is only performs in the endpoint creation, and if your demo works when you disconnect/connect your endpoint, it seems that the negotiation

[2015-12-07 09:53] tsonghong commented on #16
I will try to find time this week to implement and get this info.   Thank you!

Henry

[2015-12-07 10:08] igracia commented on #17
Thanks. Let us check some things and we'll try debug this with you.

[2015-12-07 11:57] Saradomin commented on #17
yes , i will send it shortly

[2015-12-07 12:20] dfernandezlop commented on #17
Hi @Saradomin,

I have checked the one2many demo in Chrome on Windows 7 (only one available for me right now) and everything seem to work fine. I have several questions:

* Have you checked the demo using the microphone of the computer?
* Could you check using audio and video (both from webcam) and check the behaviour.
* Could you record the audio and attach it. It will be useful to check the audi

[2015-12-07 12:32] Saradomin commented on #17
with microphone (my voice ), you cannot notice the quality drop . Only when playing songs from external sources the quality of the songs i receive as viewer  is terrible .  Good in first 3-5 seconds , then quality of the sound heard  is reduced .

 (or internal if using virtual sound card which basically takes the output of application (winamp) and redirects it to a virtual input .If on windows i

[2015-12-07 13:45] dfernandezlop commented on #17
It's a good idea test with a peer2peer aplicattion, because it seems like a problem between your virtual sound card and chrome. If other application works fine we can check our opus encoder/decoder.

[2015-12-07 15:07] dfernandezlop commented on #3
@mishamistral Could you share all your code? Because if I use your snippets there is a lot of not defined elements. To check your problem, I need the complete code.

Thanks.

[2015-12-08 07:33] Saradomin commented on #17
Hello,
I have tried with other peer2peer appications (jitsi, easyRTC) and the overall quality is the same . Really bad in streaming music with webrtc . Also i tested on Firefox, no improvement.
 I have also used Icecast2 server with SAMbroadcast client for comparison and quality is perfect but Icecast is not real-time (there is huge delay ~7s between live feed and viewer feed ).

I must ask . Is i

[2015-12-08 08:20] Saradomin commented on #17
Im sharing this piece of code which is my modification of the SDP ,in order to force bandwidth and opus parameters . Maybe i missed something .
I forced SDP parameters soon after SDP was created and before being added to peerconnection . I thought is enough to modify only in this.generateOffer since presenter and viewer share same code and the offer will be processed and an answer is generated fro

[2015-12-08 16:51] tsonghong commented on #16
Hi, I did one new kurento server session that the first attempt of Viewer to had issue.  Rough time line is like this:

1) Server and kurento started: Tue Dec  8 16:21:28 UTC 2015

2) Presenter started: Tue Dec  8 16:22:17 UTC 2015

3) Viewer started that immediatly had the issue: Tue Dec  8 16:22:49 UTC 2015

ANd below are the gdot and logs with debugs turned on.

[media-server_2015-12-08_10-21-2

[2015-12-09 09:05] davidrodriguezalfayate commented on #6
Apparently it works properly, I have to make further tests, but I think you have spotted on the problem

[2015-12-09 09:51] igracia commented on #6
Can we close the issue then?

[2015-12-09 09:57] davidrodriguezalfayate commented on #6
Sure

[2015-12-09 09:58] #6 closed

[2015-12-09 12:11] dfernandezlop commented on #16
Hi,

Thank you for this amount of information.

I have checked all your information and I haven't seen anything strange.

All the elements are linked, the ice negotiation is succeed and there is nothing weird in the KMS log. I'm still triying to reproduce your error. It seems to be a problem between Firefox and KMS, but I don't have any clue.

Meanwhile, could you explain your network configuratio

[2015-12-09 12:36] tsonghong commented on #16
In terms of application setup, it's basically one2many tutorial hacked to have the audio disabled.  I.e. In the peer connection media constraints, we did : {'offerToReceiveAudio': false, 'offerToReceiveVideo': true};  Because if we set offerToReceiveAudio to 'true', we dont' get this issue. So, im the customized one2many tutorial, I disabled audio to reproduce the issue. And in the kms log, I noti

[2015-12-09 13:45] dfernandezlop commented on #16
What logs about audio? I haven't seen any logs about audio in your KMS log (something normal if there is no audio).

I will try to test with your same configuration.

[2015-12-09 14:33] TF-Michael opened #18 "Can't record composite hub"
I'm getting this error when I try to create a recording from a composite hub:

Error occured in media pipeline: Internal data flow error. -> gstbasesrc.c(2943): gst_base_src_loop (): /GstPipeline:pipeline32/KmsCompositeMixer:kmscompositemixer14/GstVideoTestSrc:videotestsrc14:
streaming task paused, reason not-negotiated (-4) 1 UNEXPECTED_PIPELINE_ERROR

Sample Reproduction Code:

callerWebRtcEP.co

[2015-12-09 15:21] dfernandezlop commented on #18
We are working on fix this problem. We will try to upload a patch as soon as possible.

Thanks for the report.
Best.

[2015-12-09 17:14] tsonghong commented on #16
The media-server_error.log shows messages about 'not mapped' for audio like:

[code]
Just make sure the end result of the configuration has the 'offerToReceiveAudio' set to false.  Otherwise, the issue won't happen.

Henry

[2015-12-16 22:32] hunternet93 opened #19 "setMaxVideoxxx to 0 does not set unlimited upper values, and there is a typo in setMaxOuputBitrate"
I'm trying to stream with a high bitrate, but no matter what I do Kurento (6.2.0) always sets `target-bitrate` to 300000 on the encoder. Here's my latest attempt:

        viewer.element = create('WebRtcEndpoint');
        viewer.element.setMaxVideoRecvBandwidth(0);
        viewer.element.setMaxVideoSendBandwidth(0);
        viewer.element.setMinVideoRecvBandwidth(1000);
        viewer.element.set

[2015-12-17 08:32] mishamistral commented on #3
@dfernandezlop , sorry for my late reply. In the following, you can see the code of the server.js, (helloworld tutorial) modified to use two different servers, as in the scenario described before.

[code]

[2015-12-17 10:07] igracia commented on #19
I think you are using it wrong. Could you explain what's the expected behavior, and describe your pipeline? If you want to exchange higher rate video between two endpoints, you need to `setMaxOutputBitrate` in the source. That means that if you have a presenter, you'd do something like this
[code]
As for the other parameters, at this moment setting 0 as the max value, is not setting unlimited band

[2015-12-17 10:09] igracia commented on #19
@mparis You already filed the internal bug, but just for traceability I'm assigning this here, too.

[2015-12-17 11:53] igracia commented on #11
I'm closing this issue as it is not really a bug, and no feedback has been provided.

[2015-12-17 11:53] #11 closed

[2015-12-17 16:25] hunternet93 commented on #19
I'm streaming from an h.264 RTSP source (using PlayerEndpoint) to a WebRTC endpoint. I just tried `setMaxOutputBitrate` on the PlayerEndpoint, but it didn't change the encoder's `target-bitrate`.

Here's a PDF (because GitHub won't let me upload SVG) of the pipeline's GstreamerDot: [rtsp-to-webrtc-vp8-incorrect-bitrate.pdf](https://github.com/Kurento/bugtracker/files/65626/rtsp-to-webrtc-vp8-incor

[2015-12-18 08:39] dfernandezlop commented on #18
Hi,

Sorry for the delay. We are still working on that. A change in GStreamer caps has affected to the link of some of our elements. We are close to get a solution.

[2015-12-18 08:42] dfernandezlop commented on #3
Hi @mishamistral,

Thanks for your code but it seems that you also have changed things in html file. Please, attach all your modified files, I can't do changes to adjust the demo to your situation.

Best.

[2015-12-18 10:45] igracia commented on #17
I'm afraid this is not an issue with tweaking Kurento, but how your audio source gets treated by the browsers. Kurento can't do much if the audio quality that arrives is bad. You should probably inquire in other forums how can you raise the quality of the audio encoded by the browsers.

Closing this issue.

[2015-12-18 10:45] #17 closed

[2015-12-18 10:46] igracia commented on #16
Did you check with the latest version of kurento-utils? We had a couple of bugs there.

[2015-12-18 11:16] igracia commented on #1
@rbenitez Do we have new info on this?

[2015-12-18 11:18] igracia commented on #4
@jcaden Do we have any info on this?

[2015-12-18 11:27] jcaden commented on #4
@igracia It is already solved at mediaserver side, but js does not support registering the same name for a type in different modules.

[2015-12-18 11:33] igracia commented on #4
Ok, I'm assigning this to @rbenitez, but don't know if he's the one solving this or it will be you, as the issue is in the module creator.

[2015-12-19 16:04] mishamistral commented on #3
Here it is,

thank you

[code]

[2015-12-19 17:19] maranqz opened #20 "How to solve the problem with support in internet explorer, safari and edge?"

[2015-12-21 09:23] igracia commented on #20
I'm closing this as it is not a bug, but something that should go (and has been [discussed already](https://groups.google.com/forum/#!searchin/kurento/explorer) in the [public mailing list](https://groups.google.com/forum/#!forum/kurento). Please read the [guidelines](https://github.com/Kurento/bugtracker/blob/master/README.md) on how to report bugs, and where to look before reporting a bug.

[2015-12-21 09:23] #20 closed

[2015-12-22 10:59] igracia commented on #10
As there are no updates for some time, I'm closing the issue.

[2015-12-22 10:59] #10 closed

[2015-12-22 14:23] igracia commented on #15
I'm closing this, as it is not a bug, and there has been no feedback for over a month.

[2015-12-22 14:23] #15 closed

[2015-12-24 10:45] Lisitskiy opened #21 "Trouble with release() of rtmpEndpoint"
When i create rtpEdnpoint  for presenter by connecting to webRtcEndpoint - rtp encoding starts, and processor in hi load, all Ok.
But when I stop only rtpEndpoint (webRtcEndpoint leave alive)  by calling rtpEndpont.release(). Processor still in hi load, and encoding still alive.

I cant find any errors in kurento logs.

Example for demonstration trouble is here (based on node one2many call titoria

[2015-12-29 11:23] tsonghong commented on #3
Hi Kurento team, were you able to reproduce this issue?  If not, would having a working example based on one of the Kurento tutorials help accelerate a solution for this?  Even now I'm still able to get this issue with latest Kurento.  Thanks!

[2016-01-01 18:14] igracia commented on #21
@dfernandezlop David, could you please check this?

[2016-01-01 18:34] jcaden commented on #21
The problem it's that agnosticbin in previous endpoint is not releasing the resources got for transcoding because it's something that is not implemented. This is why encoding is still being done. I guess it's not a bug but something not implemented.

This implementation is something that should be thought carefully because we have to decide when the encoder is not going to be used anymore, this is

[2016-01-01 18:36] igracia commented on #21
Ok, will mark it as enhancement then. I´ll milestone this for v7, as I don´t think it will be in 6.2.1, right?

[2016-01-03 00:57] jcaden commented on #21
Thanks Ivan. Version 7 is fine we can change it if we finally do it for a previous version and it does not imply an API change

[2016-01-04 21:17] hunternet93 commented on #19
Just dug through the code a bit, setMaxOuputBitrate sets the the element's MAX_OUTPUT_BITRATE and MAX_OUTPUT_BITRATE GObject properties. Oddly enough, I couldn't find any other mentions of those constants except for their #defines, is setMaxOuputBitrate just a no-op at the moment? If so, it should probably be mentioned in the docs.

[2016-01-05 17:41] hunternet93 commented on #19
After poking around a bit, I found something odd in kmsenctreebin.c:

    #define KMS_ENC_TREE_BIN_LIMIT(obj, value) \
      MAX((obj)->priv->min_bitrate,MIN((obj)->priv->max_bitrate, (value)))

That seems a bit off, it means that if max_bitrate is greater than the default target bitrate (from kmsagnosticbin.c), then target-bitrate is set to the default instead of the user-defined target.

Maybe i

[2016-01-05 17:59] igracia commented on #19
@mparis  Could you please check this?

[2016-01-05 18:35] micaelgallego commented on #4
I think the issue should be implemented in the kurento module creator and in the kurento client. Needs further investigation...

[2016-01-05 18:40] jcaden commented on #19
I'll review this

[2016-01-12 20:41] hunternet93 opened #22 "PlayerEndpoint's default RTSP latency really high"
When using PlayerEndpoint with an RTSP source, the auto-created rtspsrc element uses it's default value for the latency property, 2000 ms. This causes a 2-second delay, which is pretty bad for realtime streams. Here's my quick fix: https://gist.github.com/hunternet93/a7b4a791ce8bf2c29ccf

[2016-01-13 10:06] igracia commented on #22
@jcaden Could you please review this pull request?

[2016-01-13 10:24] jcaden commented on #22
Great patch! Thanks. I'd like more to add an attribute to playerendpoint so latency ca be choose from client side depending on the application, because setting a default 50ms buffer could cause bad behavior when network is not stable.

[2016-01-15 10:56] igracia commented on #16
@tsonghong Any updates? Did you try with a different version of kurento-utils?

[2016-01-15 11:43] tsonghong commented on #16
Sorry i'll try next week since out of office this week.
On Jan 15, 2016 2:56 PM, "Ivan Gracia" <notifications@github.com> wrote:

[2016-01-16 04:58] hunternet93 commented on #22
That's what I thought'd probably need to happen, my C skills are pretty terrible so I didn't attempt it.

[2016-01-22 07:32] tsonghong commented on #16
I'm still getting weird behavior even with newer versions:

Firefox: 43.0.4

Kurento: 6.3
ii  kurento-media-server-6.0                 6.3.2~20160121145716.1.gd26593a.trusty     amd64        Kurento Media Serve
dpkg --list | grep kms | grep 6.3
ii  kms-core-6.0                             6.3.1~20160121141900.1.g4955342.trusty     amd64        Kurento core module
ii  kms-core-6.0-dev

[2016-01-22 07:36] tsonghong commented on #16
If it helps, I can tar up my entire customized tutorial of one2many and have you download it, untar, and test.  Let me know if you want that.

Henry

[2016-01-22 09:27] igracia commented on #16
Are you getting this behavior with a regular one2many tutorial, or just with the modified version?

[2016-01-22 09:47] tsonghong commented on #16
It works fine on the regular one2many tutorial because it doesn't disable audio.  To reproduce the problem, the audio needs to be disabled:

            var options = {
                    remoteVideo: video,
                    onicecandidate : onIceCandidate,
                    mediaConstraints : {
                            audio: false,
                            video: true

[2016-01-22 09:59] igracia commented on #16
When this happens, do you see any errors in any of the logs (KMS, browser or app server)?

[2016-01-25 09:20] efdi commented on #1
@rbenitez @igracia Is there any progress?
Or are there any good hacks to work around this issue?

[2016-01-26 06:53] adrianbg opened #23 "Removing not supported codec 'OPUS/48000/2'"
From https://groups.google.com/forum/#!topic/kurento/NiqUtyXgZPw

Ubuntu: 14.04
kurento-media-server-6.0: 6.3.1.trusty
kms-core-6.0: 6.3.0.trusty
App server is the Hello World tutorial from git, version 6.1.0.

KMS incorrectly rejects OPUS when responding to this SDP offer:

v=0
o=- 1453762830611886000 1 IN IP4 127.0.0.1
s=-
t=0 0
m=audio 9 UDP/TLS/RTP/SAVPF 111 8 0
c=IN IP4 0.0.0.0
a=rtcp-mux
a=s

[2016-01-26 07:19] jcaden commented on #23
As I said in the list, I think that the problem is caused by opus written in capital letters. If you try again mangling the sdp before passing it to kms changing OPUS by opus it should work. In the meantime we'll try to fix it.

[2016-01-26 07:20] adrianbg opened #24 "KMS not using STUN after it generates an SDP offer"
Ubuntu: 14.04
kurento-media-server-6.0: 6.3.1.trusty
kms-core-6.0: 6.3.0.trusty
App server is modified from the Hello World tutorial from git, version 6.1.0.

I modified the hello world tutorial to generate an SDP offer on the Kurento side. Even though KMS is configured to use a working STUN server, the ICE candidates it generates only have the server's non-public IP.

Here's a log:

2016-01-26 07

[2016-01-26 07:20] adrianbg commented on #23
Sorry, I didn't see your comment in the list.

But actually I've already tried that. It didn't help

[2016-01-26 07:33] adrianbg commented on #23
You're right. Mangling my SDP offer did fix this issue. I think it didn't work the last time I tried because I had OPUS capitalized in my Kurento configuration. Thanks for your help.

[2016-01-26 09:17] igracia commented on #23
@adrianbg I'm closing this issue, then.

[2016-01-26 09:18] igracia commented on #24
Have you tried with a differnt STUN server? Please check your STUN server using [this](https://webrtc.github.io/samples/src/content/peerconnection/trickle-ice/) test page. Don't forget to remove the already existing server.

[2016-01-26 09:35] jcaden commented on #23
Please @igracia let it open because mediaserver should not reject this offers an no mangling should be necessary.

[2016-01-26 09:37] igracia commented on #23
Sure! Sorry for closing too early.

[2016-01-26 16:02] adrianbg commented on #24
Yeah, I tested the STUN server. It works.

On Tue, Jan 26, 2016 at 1:18 AM, Ivan Gracia <notifications@github.com>
wrote:

[2016-01-26 16:04] adrianbg commented on #24
Wouldn't you expect to see something in the logs if KMS had tried to the
STUN server and it failed?

On Tue, Jan 26, 2016 at 8:02 AM, Adrian <agbauer@gmail.com> wrote:

[2016-01-26 16:57] igracia commented on #24
It's libnice the one in charge of that, and it basically fails silently. You can check what candidates are being generated for your server with the `stun-client` package
[code]
Just to make sure that your server gets the correct candidates.

[2016-01-26 17:17] adrianbg commented on #24
Here's the output. This server works fine when KMS is answering an SDP
offer. It's only when KMS generates the offer that it fails to produce any
useful candidates.

STUN client version 0.96
Opened port 19880 with fd 3
Opened port 19881 with fd 4
Encoding stun message:
Encoding ChangeRequest: 0

About to send msg of len 28 to 74.125.142.127:19302
Encoding stun message:
Encoding ChangeRequest: 4

A

[2016-01-26 18:20] igracia commented on #24
Sorry, I missed the important part where you specify that it's generating offer in server what doesn't work. Could you provide us with a test project? We have one, but it's working fine.

[2016-01-26 18:55] adrianbg commented on #24
This reproduces it for me. This runs on my machine and KMS is on AWS. The
pipeline is the same as the one in Hello World. Are there other factors
that could affect whether KMS uses STUN?

This issue isn't important for me personally. I was only trying this as a
work around for the "OPUS unsupported" issue I was having.

package org.kurento.tutorial.helloworld;

import org.kurento.client.EventListe

[2016-01-27 09:13] igracia opened #25 "[kms 6.3.1-DEV] Poor audio when playing webm files"
We've made some tests playing WEBM format files, and the audio is poor for both local and http served ffiles. This doesn't happen in MP4 files, and @dfernandezlop reports that this has been happening for quite some time, but went undetected.

[2016-01-27 09:14] igracia commented on #25
@jcaden  I'm assigning this to you for triage

[2016-01-27 16:20] yangboz opened #26 "Latency of remote stream loop back with IPC/RTSP/RTMP."
Hi, all:

First off, thanks for this great work!

And I have walk through all of the tutorials, from hello-world to custom module and element metadata filter testing, function works well, but with time delay and poor performance  while remote stream playing with IPC/RTSP/RTMP.

I just wonder does I missing somewhere configuration, or does the JSON IDL hurts the performance,  or does the KMS transc

[2016-01-31 03:19] chainsawsalad commented on #24
I am experiencing the exact same issue with version 6.3.1. My server is also running on AWS. If you'd like any details I can provide them, but my logs appear in the exact same manner as those of @adrianbg. The IP of the IceCandidate is not using the public IP, yet my STUN server is working correctly. Upgrading from 6.1.1 (working) to 6.3.1 (not working) was the only change made.

[2016-01-31 06:00] sivabudh opened #27 "Cannot build Kurento 6.1.1 on Ubuntu 14.04"
Hello,

We are running into some issues with `Kurento 6.3.2` related to the TURN server. So, we are trying to downgrade to the last-known version which worked well for us – `6.1.1`.

We tried to build `Kurento 6.1.1` on `Ubuntu 14.04` with GCC version `4.8.5`, but we ran into a build error as follow:

[code]

The exact commands are as follow:

[code]

Here's the complete build steps that led to th

[2016-02-01 10:18] jcaden commented on #23
Fixed on since 6.3.2

[2016-02-01 10:18] #23 closed

[2016-02-01 10:20] jcaden commented on #27
If you try to build 6.1.1 The versions of kms-core, kms-elements and kms-filters should be the appropriate, otherwise it won't compile correctly.

Please report this on the list since this is not a bug but a support request.

[2016-02-01 10:20] #27 closed

[2016-02-02 20:03] chainsawsalad commented on #24
FYI, this issue resolved for me when I did an `apt-get remove --purge kurento-media-server-6.0` and then reinstalled via `apt-get install kurento-media-server-6.0`.

[2016-02-08 11:20] JanuszP opened #28 "If users have different set of devices (ie. UserA (Cam/Mic) - UserB (Mic)) data is correctly decoded by UserB endpoint, User A is unable to get audios"
[Dockerfile.txt](https://github.com/Kurento/bugtracker/files/121481/Dockerfile.txt)
Hello,

  Recently I've encountered a problem when users have different set of devices available. For example let's have:

UserA - camera + microphone
UserB - microphone

When connection is made UserB is able to see and hear UserA but UserA doesn't hear anything from UserB. When debuging, in chrome://webrtc-interna

[2016-02-11 19:32] kirushyk opened #29 "kms-core: Few headers not found"
kms-core/src/server/implementation/objects/MediaObjectImpl.hpp:5:27: fatal error: MediaObject.hpp: No such file or directory

[2016-02-11 19:32] kirushyk commented on #29
Included with "quotes". No such file in same directory. Same for `#include "Tag.hpp"`

[2016-02-11 19:49] kirushyk commented on #29
(i am trying to cross-compile kms to Windows)

[2016-02-11 20:04] kirushyk commented on #29
Oh, as I understood, this file should be generated.

[2016-02-11 23:01] kirushyk commented on #29
As I understood, I should use `kurento-module-creator` to generate this files, correct?

[2016-02-13 10:29] ClassOnLive opened #30 "KMS 6.3.3 : RecordedEndpoint-webm files- Audio only listened if file is played through a browser"
No sound when playing recorded webm files in a local environment with a video player like VLC.
If the file is played through a browser everything is perfect.
These are the list of errors from the log file:

2016-02-12 17:04:33,286951 1184 [0x00007fb246ffd700]   error recorderendpoint          kmsrecorderendpoint.c:1186 kms_recorder_endpoint_query_caps() <kmsrecorderendpoint1>  No appsrc attached t

[2016-02-13 10:47] dfernandezlop commented on #30
Hi,

VLC doesn't support opus as audio codec. Please, try with other player like dragon.

This is not a bug.

Regards.
David.

[2016-02-13 12:09] #30 closed

[2016-02-14 17:03] mfornasa opened #31 "Unable to install old versions / Binary distribution not available"
I need to install an old version (6.2.0) because latest version does not support TURN, and we need it. It appears that the ubuntu package repo does not contain old binary versions.
This is **very** annoying because:
* Does not allow to downgrade
* Does not allow to replicate a working 6.2.0 install on another server

I tried to build the old version from source, but I'm having issues, which are ou

[2016-02-15 06:28] jcaden commented on #31
If you are going to downgrade because of TURN, previous versions do not
support it correctly. When a turn candidate is used kms will break. Why do
you think you need TURN? Is your kms behind an address dependant NAT or a
firewall?

El dom., 14 de febrero de 2016 18:03, Martino Fornasa <
notifications@github.com> escribió:

[2016-02-15 10:28] jcaden commented on #31
The issue about not cointaining old versions is caused by reprepro, that deletes old versions when you upload a new one.

[2016-02-15 10:28] #31 closed

[2016-02-15 10:31] dfernandezlop commented on #29
Hi kirushyk,

You are right, these files are auto-generated by kurento-module-creator and it is executed in the cmake process.

Regards.
David.

[2016-02-15 10:36] dfernandezlop commented on #25
This bug was fixed in https://github.com/Kurento/kms-core/commit/0a2c08ea353d7b594b17a78a040b0ee1498d5c9f

Closing this issue.

[2016-02-15 10:36] #25 closed

[2016-02-15 10:42] dfernandezlop commented on #18
This problem was fixed. Is it your code working?

[2016-02-15 11:54] dfernandezlop commented on #28
Hi JanuszP,

I think that your application has a problem with this bug in chrome https://code.google.com/p/chromium/issues/detail?id=403710

If you negotiate your peer as receive video and audio, it is not going to show any media if it doesn't receive both media. I can see this in the A client log:

constraints: {"mandatory":{"OfferToReceiveAudio":true,"OfferToReceiveVideo":true},"optional":[{"Dtl

[2016-02-15 12:39] mfornasa commented on #31
Not sure about the TURN issue. We have a standard AWS setup (with their NAT and firewall), and 6.3.3 does not work for us, while 6.2.0 works. Any hint?

About the binary distribution, I want to point out that deleting old versions is **preventing any production-grade usage**. Ubuntu packages disappearing does not allow me to have a reproducible environment.

[2016-02-15 14:01] jcaden commented on #31
if you open udp ports that kms is using it should work on aws. This is something we are testing every day.

We will try to fix the problem with the packages, but we do not have much time for this right now.

[2016-02-15 14:08] TF-Michael commented on #18
Yes. We are currently recording in this manner using version 6.3.0.

[2016-02-15 14:17] dfernandezlop commented on #18
Ok. I'm going to close this bug.

Thanks!

[2016-02-15 14:17] #18 closed

[2016-02-15 15:44] dfernandezlop commented on #3
Hi @mishamistral,

Sorry for the delay, we have a lot of work now. I have been able to get the error with your demo. It seems the same case reported at the beginning of the thread.

This problem is caused because Firefox doesn't support use different pem certificates in the same tab.

The solution would be configure the same pem in both KMS but right now this feature is not supported.

Sorry for t

[2016-02-15 17:45] igracia commented on #26
The issue with latency in video has nothing to do with JSON or Thrift, as that would be used for signalling. Have you detected cases where the latency is ok? I mean, I suppose the tutorials have no latency, right?

[2016-02-15 17:46] igracia commented on #24
@adrianbg did you check with the solution posted by @chainsawsalad?

[2016-02-16 01:46] yangboz commented on #26
The latency is happened in detected cases, I wonder to find the root cause, or some thing I missed to avoid those latency, any suggestion?

[2016-02-16 01:55] adrianbg commented on #24
Sorry, I don't have time to test this again right now. If you think something might've been wrong with my setup, go ahead and close this and someone can re-open it if it's a real issue.

[2016-02-16 10:03] tsonghong commented on #3
Thx, can this be on the kurento roadmap for solving?  Basically, we will
have situations where it will be hard to make sure all the source video
(which can be allocated globally for a single user) can reach the same user
through the same kurento server.  We have some global customers who can
have subgroups located globally.  And therefore scaling has become a
nightmare when having to deal with thi

[2016-02-16 11:09] jcaden commented on #3
Sorry, but currently this is something that is not in our short-term roadmap.

[2016-02-16 11:09] #3 closed

[2016-02-16 17:19] igracia commented on #26
Not really. Check in a controlled environment, with one of the tutorials, and note down the conditions when the delay happens.

[2016-02-16 17:19] igracia commented on #29
@kirushyk did you solve this already?

[2016-02-16 18:46] igracia commented on #24
Ok, we'll close it and you can reopen it in case it didn't get solved for you.

[2016-02-16 18:46] #24 closed

[2016-02-17 23:34] JanuszP commented on #28
Hi dfernandezlop,

  You might be right and the problem is on my side, yet I'm not sure. I've speent couple of days trying to figure out where the problem is yet I couldn't find anything that was in my reach in reasonable time. I had to focus on other tasks yet I'll test this more deeply and let you know what I'll find out. Things that I have checked (yet maybe I was clumsy doing tests and there w

[2016-02-21 16:01] kirushyk commented on #29
@igracia @dfernandezlop : Yes, thank you.
Can you please point me to place where CMake runs kurento-module-creator for particular .json files and how CMake makes kurento-module-creator understand where to put C++ output?

[2016-02-25 13:19] tsonghong commented on #3
Hi David and Jcaden,

can you elaborate on:

"The solution would be configure the same pem in both KMS but right now this feature is not supported."

Is this something we can do ourselves or requires a code change in Kurento?  What file would we need to configure?

Thanks!

Henry

[2016-02-25 14:11] jcaden commented on #3
This means that it is not implemented.

Sorry for the trouble.

[2016-02-25 14:33] dfernandezlop commented on #28
Hi JanuszP,

I'm going to try  to answer to your questions:

2. You can look for traces like these in your KMS log:
Media Flowing OUT in pad default with type audio
Media Flowing IN in pad default with type audio
This traces could you a clue about if webrtc on side B is putting media in the pipeline and if the recorder is receiving media.

3. If you have a code, I could take a look to this situati

[2016-02-26 02:35] thincal opened #32 "[Question] how does the kms handle the high concurrency ?"
In the production environment, how to handle thousands of people accessing the kms at the same time ? Is there any solution to set up a distributed kms service ? many thanks.

[2016-02-26 03:49] vijayakumars6 opened #33 "Kurento Room Destroy not releasing resources"
Hi,

In group call when room is destroyed resources are not getting released though release() method called in close() when its called in pre-destroy. I don't even see the logs printed in close method.

recorderEndpoint.release();
if (hubPort != null) {
        hubPort.release();
    }

    if (composite != null) {
        composite.release();
    }

pipeline.release(new Continuation<Void>() {

[2016-02-26 03:54] thincal commented on #32
During studying the Kurento docs, there is one Kurento design principle:

**Distribution of Media and Application Services**
Kurento Media Server and applications can be collo-cated, scalated or distributed among different machines.
A single application can invoke the services of more than one Kurento Media Server. The opposite also applies, that is, a Kurento Media Server can attend the requests

[2016-02-26 07:12] robecor opened #34 "KMS 6.4.0, Image overlay memory consumption to high"
Hello,
   When using the ImageOverlay filter the Memory consumption is enormous. The structure is something like this:
PlayerEndpoint(give the url from an IP camera)-->ImageOverlayFilter(with an image)-->WebRtcEndpoints of viewers. When the PlayerEndpint is connected to the filter the memory consumption start increasing at about 50MB/s and when it reaches 100%(which happens in a couple of minutes)

[2016-02-26 08:09] dfernandezlop commented on #34
Hi,

Are you configuring only one image or are you changing the overlayed image several times? I have tested the filter for more than 15 minutes and the KMS memory hasn't increased. I'm going to develop a valgrind based tested to discard memory leaks in the filter.

Thank you for the report.
Regards.

[2016-02-26 09:42] robecor commented on #34
It is only one image. As long as the player endpoint is connected to that filter with the image, the memory usage keeps increasing.

[2016-02-26 12:31] dfernandezlop commented on #34
Hi,

We can't reproduce the bug. The valgrind test doesn't show any memory leak and I have executed the filter for a long time with any memory leak. Could you provide a project test? Or, at least, a KMS log to look for a strange behaviour.

Thank you.

[2016-02-26 14:46] tsonghong commented on #3
Ok, and if you can give us a pointer, would you say we are on the right track
if we modified the gst-plugins-bad library by making the PEM string the same
across all kurento media servers?

For example, if we made the gst_dtls_certificate_set_property()
return the same result that is mentioned in this file:

https://github.com/kittee/gst-plugins-bad/blob/e1dda890a76ccc02f0746c3399a0a25ffb2c6b29/ex

[2016-02-26 15:21] jcaden commented on #3
Not really, I'd use the "pem" property available in the element.

It's not a good idea to modify the default behavior of a library that works just to fit your needs because you will find problems later, in this case security problems.

[2016-02-26 17:07] mikeg0 commented on #3
We've been able to replicate this issue too.  And we have been able to replicate this using the AWS elasticRTC Kurento product that is in beta.  If you have a load balanced array of KMS servers with multiple streams sending from different servers, FF will only render the first stream.  However, this load balanced architecture works fine in Chrome.

Is this expected behavior in regards to the webRT

[2016-02-27 00:43] hdlopesrocha opened #35 "KMS 6.4.1~1.g3ffe480, kurento-repository 6.3.1-SNAPSHOT, Ubuntu Server 14.04 LTS -- Can’t seek recorded video from kurento repository"
Hi!
I can't seek recorded videos through player.setPosition(...), player.getVideoInfo().getIsSeekable() always returns false.

Those are my dependencies:
libraryDependencies += "org.kurento" % "kurento-java" % "6.3.0"
libraryDependencies += "org.kurento" % "kurento-client" % "6.3.0"
libraryDependencies += "org.kurento" % "kurento-repository-client" % "6.3.0"

Thanks ;-)

[2016-02-27 10:33] dfernandezlop commented on #35
Hi,

Could you tell me please:

- What version of KMS are you using.
- What video are you using.
- Have you tried with other video.
- Could you share your video to check this behaviour?

Thanks.
David.

[2016-02-27 22:00] hdlopesrocha commented on #35
I am using WebM and playing it with PlayerEndpoint directly from Kurento-Repostory (MongoDB).
The video was recorded by RecorderEndpoint, I am recording parts of 10 seconds and all of them have this issue.

[videos.zip](https://github.com/Kurento/bugtracker/files/149594/videos.zip)

[2016-02-27 23:19] dfernandezlop commented on #35
Hi,

The files recorded using the RecorderEndpoint through http are not seekables. The problem is that we record the video while it arrives to the recorder and when the video ends we can't write the headers at the begining of the file so the file is not seekable.

Sorry for the troubles.
Best regards.
David.

[2016-02-28 04:09] hdlopesrocha commented on #35
Ok, it makes sense.
It could be interesting to have an option on the recorder to upload the recorded file on end, so it could be seekable.

[2016-02-28 18:45] hdlopesrocha opened #36 "KMS 6.4.1~1.g3ffe480, Ubuntu Server 14.04 LTS -- ZBarFilter's strange behaviour with 2 simultaneous QRCodes"
When showing 2 QR Codes at the same time, ZBarFilter's EventListener<CodeFoundEvent>().onEvent() is called multiple times per second, they seem fighting each other.

BTW, I don't know if I have a bug, but ZBarFilter stops detecting QRCodes after a while (+/- 1 minute)

[2016-02-29 03:13] thincal commented on #32
@jacdea @igracia could help with this problem ? It is really appreciated for any info / insights. Thanks.

[2016-02-29 08:06] robecor commented on #34
Sorry for the late reply!
I restarted the server with a clean log, connected the player endpoint to the image filter with a picture and closed if after a minute or to.
Here is the log.
[media-server_2016-02-29_02-58-26.00000.pid27825.zip](https://github.com/Kurento/bugtracker/files/150520/media-server_2016-02-29_02-58-26.00000.pid27825.zip)

[2016-02-29 10:35] jcaden commented on #32
Hi,

Please, do not use the bugtracker for questions, use mailing list instead: https://groups.google.com/forum/#!forum/kurento

About the scaling, kurento itself does not have any solution for that, but there is an initiative that deals with autoscaling using the same APIs as Kurento does. It's called ElasticRTC the beta program is now in progress, if you need further information you can connect

[2016-02-29 10:35] #32 closed

[2016-02-29 10:40] jcaden commented on #36
ZbarFilter right now tries to send all qr codes it finds in a frame. If the same qr is detecting no events are raised for some time, but if there are more than one, they are reported all the time. It's the way it works (probably not the best one).

If it stops working is because the library we are using is not detecting any code. We are not maintaining the detection, just propagating its events. P

[2016-02-29 13:06] thincal commented on #32
@jcaden thanks for your info, but the cluster support should be also an important feature for KMS, and I didn't see any related info documented. Anyway I will go to the Google groups for further help, thanks

[2016-02-29 13:51] tgabi333 opened #37 "kurento-client-js dependency issue"
`dockerode` should be a devDependency.

[2016-03-01 00:58] hdlopesrocha commented on #36
I saw the source of kms-filters, apparently I didn't found anything wrong.
Meanwhile I had this error on kurento-media-server:
`Segmentation fault (thread 140294790989568, pid 1992)
Stack trace:
[g_type_check_instance_is_fundamentally_a]
/usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0:0x3488D
[g_object_ref]
/usr/lib/x86_64-linux-gnu/libgobject-2.0.so.0:0x14A1E
[g_weak_ref_get]
/usr/lib/x86_64-linux-

[2016-03-01 09:31] ClassOnLive opened #38 "KMS 6.4.0 No audio in Firefox (Windows)"
After migrating to KMS 6.4 I have identified a problem in Firefox 44
In the onetomany tutorial, if presenter uses Chrome and the viewer Firefox, the viewer doesn't receive audio.
Other scenarios works perfectly

Chrome--->Chrome OK
Firefox--->Chrome OK
Firefox--->Firefox OK
**Chrome--->Firefox KO**

I have tested under Windows

Regards

[2016-03-01 09:45] jcaden commented on #38
Hi,

We have checked that this problem also is present in MacOS, but not in Linux.

From our testing it seems something related to kurento-utils or firefox itself and the way that it interacts with the OS to play the sounds. This are the reasons why we think this:

* If you check the audio icon on the firefox tab it reports that is playing audio
* If you try two times, the next time the audio is O

[2016-03-01 09:53] ClassOnLive commented on #38
Yes, you are right.
When I open the second tab, audio works.

So now? How can we handle this?

*Sergio Puertas*
CEO/CTO en ClassOnLive
<http://t.sidekickopen36.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs8pTv1sVRs3fx3LyGy-W8p-VB856dT_df4sR6z-02?t=http%3A%2F%2Fwww.classonlive.com%2F&si=5703881506422784&pi=272d5e56-ee86-4e48-8cfa-212e31b2ac52>
+34 620 60 20 85
<http://t.sidekickopen36.com/e1t/

[2016-03-01 10:00] jcaden commented on #38
We can report it to Firefox and also try to figure out if kurento-utils is doing something that is causing the problem.

Can you report it to Firefox, please?

[2016-03-01 12:55] ClassOnLive commented on #38
I have report to Mozilla but I think Mozilla is not the problem.

I have tested with opentok https://opentokrtc.com/  and it works in Firefox.
Maybe the problem is in kurento-utils

*Sergio Puertas*
CEO/CTO en ClassOnLive
<http://t.sidekickopen36.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs8pTv1sVRs3fx3LyGy-W8p-VB856dT_df4sR6z-02?t=http%3A%2F%2Fwww.classonlive.com%2F&si=5703881506422784&pi=f

[2016-03-02 08:51] dfernandezlop commented on #36
This trace is a known bug , we are trying to fix it but is not related with the topic, you can open another one.

I'm going to close the bug because we don't control the GStreamer filter zbar.

[2016-03-02 08:51] #36 closed

[2016-03-02 08:52] dfernandezlop commented on #35
Ok, we will try to offer a solution for this situation.

I'm going to close the thread.

[2016-03-02 08:52] #35 closed

[2016-03-02 09:43] dfernandezlop commented on #34
Hi,

I have readed your log and checking the bug.

I can say that the problem is not related with the image overlay filter but with the connection between the player (with an rtsp source) and any filter. This bug needs further investigation.

I will come back when I have new data.

Thank you for the report.
David.

[2016-03-02 10:43] mrloop opened #39 "Permissive License for tutorial code"
License tutorial code under more permissive license e.g. BSD.

I wonder how many people are unintentionally breaking LGPL by not releasing their application code if they've used the tutorial code as a starting point. Was the decision to licence the tutorial code as LGPL taken because the main body of work is licensed under LGPL and it happened by default?

[2016-03-02 11:11] jcaden commented on #39
You are right, modify a tutorial, a demo or a library, licensed under LGPL license, and not releasing code changes when distributing it is clearly a LGPL violation.

Tutorials and demos are correctly licensed under LGPL, because they are just this, tutorials. They are not intended to be a boilerplate to develop an application.

It seems that a lot of people is taking tutorials and demos as applica

[2016-03-02 11:11] #39 closed

[2016-03-03 03:02] ClassOnLive commented on #38
This is the bug reported in Mozilla.
https://bugzilla.mozilla.org/show_bug.cgi?id=1252400

I have tested is apprtc and it works, so the problem have to be  in Kurento
side.
The problem  appreared in 6.3.3.

*Sergio Puertas*
CEO/CTO en ClassOnLive
<http://t.sidekickopen42.com/e1t/c/5/f18dQhb0S7lC8dDMPbW2n0x6l2B9nMJW7t5XZs8pTv1sVRs3fx3LyGy-W8p-VB856dT_df4sR6z-02?t=http%3A%2F%2Fwww.classonlive.com%2F

[2016-03-03 14:13] markkimsal opened #40 "adapter.js dependency broken in tutorial-js"
webrtc/adapter has decided to stop publishing a built adapter.js file.  The bower dependency has a loose requirement of "*", but should be restricted to something like 0.2.9 for adapter.js until that project can publish a built adapter.js file or the tutorials come up with instructions to build it.

https://github.com/webrtc/adapter/issues/206

kurento-tutorial-js/kurento-recorder/bower.json

[cod

[2016-03-03 14:32] jcaden commented on #40
@rbenitez  can you please check this?

[2016-03-03 15:14] rbenitez commented on #40
Hi @markkimsal, we sent an email in the kurento public list about this problem the last week. We are going to wait some days more. If they don't fix the problem, we will change the version in the tutorials.

Sorry for inconvenience.

Regards

[2016-03-04 16:22] kirushyk commented on #40
Hello, have same problem.
Using 0.2.x now.

[2016-03-04 16:23] #29 closed

[2016-03-04 16:25] kirushyk opened #41 "npm install for kurento-tutorial-node displays error messages"
I have something like for any particular tutorial:

`gyp ERR! build error
gyp ERR! stack Error: `make` failed with exit code: 2
gyp ERR! stack     at ChildProcess.onExit (/usr/local/lib/node_modules/npm/node_modules/node-gyp/lib/build.js:270:23)
gyp ERR! stack     at emitTwo (events.js:87:13)
gyp ERR! stack     at ChildProcess.emit (events.js:172:7)
gyp ERR! stack     at Process.ChildProcess._hand

[2016-03-04 16:50] rbenitez commented on #40
We are using  "adapter.js": "v0.2.9"  in bower.json. Please, check it.

Regards

[2016-03-04 17:54] markkimsal commented on #40
https://github.com/Kurento/kurento-tutorial-js/blob/master/kurento-recorder/bower.json

[2016-03-04 18:49] rbenitez commented on #40
@markkimsal like I told you, we are going to wait some days more. If they don't fix the problem, we will change the version in the tutorials but we haven't done yet. During this weekend, we will change the adapter.js version and will type v0.2.9..

[2016-03-05 05:27] vijayakumars6 commented on #33
I found issue, afterconnectionclosed again its creating room if room is null. Thats reason its creating resources again.

[2016-03-05 05:27] #33 closed

[2016-03-06 19:33] rbenitez commented on #1
We have implemented a ping/pong mechanism and we have reimplemented the reconnection way, please update kurento-client at master version.

Best.

[2016-03-08 20:59] kirushyk opened #42 "kms-elements dev package dependencies"
As I understood (maybe I am wrong?), `kms-elements-6.0-dev` Ubuntu package should be dependent from `openwebrtc-gst-plugins-dev` and `libsoup2.4-dev`, because to build something with kms-elements we need to link against that libs.

[2016-03-08 22:01] jcaden commented on #42
You don't need this dependencies as you only need libraries to link, but not its headers.

[2016-03-08 22:20] kirushyk commented on #42
Okay, thats true.
However, to build `kms-elements-6.0-dev` from source, you still need that packages.

[2016-03-08 22:20] #42 closed

[2016-03-09 07:09] jcaden commented on #42
Yes, that is why they are build dependencies.

[2016-03-10 10:55] mparis commented on #38
It is working in Firefox 45, so the Firefox team has closed the issue: https://bugzilla.mozilla.org/show_bug.cgi?id=1252400

[2016-03-10 10:55] #38 closed

[2016-03-10 11:41] parveen-oodles opened #43 "Node Tutorial one to Many has no loading the remote server Stream Spinner moving endless"
Hello , I am new to using Kurrento required in project , but as i clone the tutorial given on git hub for Kurento and following the instruction for one2Many call . First of all there is broken packages fro adapter.js as i successfully resolved them but after that there is an issue i.e my webcam is running well and i am able to see my side stream but not able to see the remote stream there is spinn

[2016-03-11 02:00] leecris opened #44 "Very large latency when webrtc client & KMS in different network"
Hi,

I posted question in https://groups.google.com/forum/#!topic/kurento/7S2ESeYRYJ4 but Jose said I should post here.

Enviroment setup:
KMS - 6.4.0 deployed in Ubuntu 14.04
Nodejs - deployed in Ubuntu 14.04
Camera: Logitech C920 HD
VLC: v2.2.x
Client: Chrome v48.0.2564.116 m

Running:

- Streaming RTSP with VLC by command:
cvlc -vvv v4l2:///dev/video1 --sout '#transcode{vcodec=h264,fps=25,width

[2016-03-11 06:33] ClassOnLive opened #45 "KMS 6.4.0 with turn (transport=tcp) crash if we turn off the turn"
We have KMS 6.4 and a Turn server in different machines.
If we make a call and the streams go through the turn server, if we suddenly turn off the turn server, KMS process crash and we have to reboot it.
Steps to reproduce:
Cut UDP traffic in Server where is hosted KMS
Stablish a call and be sure that streams travel through the turn server via TCP.
During the call, switch off the turn
Allow UDP tr

[2016-03-11 09:49] dfernandezlop commented on #40
This issue has been resolved. I'm closing the bug.

[2016-03-11 09:49] #40 closed

[2016-03-11 09:54] dfernandezlop commented on #41
Hi  @kirushyk,

I have executed npm install on kurento-tutorial-node/kurento-chroma like you and everything seems to work fine.

Could you give more information?

Best.

[2016-03-11 09:57] dfernandezlop commented on #34
Hi,

We have fixed this bug in the development version. The problem was the filter couldn't consume all the data retrieves by the player. This data was stored and that is the reason why you saw increasing the memory.

Thanks for the report.
Best.

[2016-03-11 10:00] dfernandezlop commented on #16
No answers 2 months ago, any update or can we close the bug?

[2016-03-11 10:01] dfernandezlop commented on #1
@rbenitez can we close the bug?

[2016-03-11 10:04] dfernandezlop commented on #14
This feature has been implemented in the dev-version. The RecorderEndpoint has a new event called "Stopped" [1].

I'm closing the thread.

[1] https://github.com/Kurento/kms-elements/blob/master/src/server/interface/elements.RecorderEndpoint.kmd.json#L65

[2016-03-11 10:04] #14 closed

[2016-03-11 10:05] rbenitez commented on #1
Yes.

Un saludo.

---------------------------------------------------------
Raúl Benítez Mejías
https://twitter.com/rbenitezm
----------------------------------------------------------

2016-03-11 11:01 GMT+01:00 David Fernández López <notifications@github.com>:

[2016-03-11 10:07] dfernandezlop commented on #1
Ok, I'm closing the thread.

[2016-03-11 10:07] #1 closed

[2016-03-11 10:39] vhmth commented on #14
Awesome! Will this event also propagate to other SDKs that implement the media elements interface? For instance, will this event be triggered on a node javascript representation of a RecorderEndpoint element?

[2016-03-11 10:41] dfernandezlop commented on #14
Of course, the event must be used through the APIs.

[2016-03-11 10:42] vhmth commented on #14
:zap:

[2016-03-11 10:50] igracia commented on #44
Can you provide some info about the network conditions of WebRTC clients? Please post screenshots of webrtc-internals after some minutes, so we can see what's going on in there.

Have you checked with different clients and from different locations/networks?

[2016-03-11 10:52] igracia commented on #43
What client are you using? Have you tried different clients?

It would be nice to know the KMS version, and the commit of the tutorial that you are using.

[2016-03-11 10:53] igracia commented on #34
@dfernandezlop Can we close this now then?

[2016-03-11 10:54] igracia commented on #26
@yangboz Any news about this? If there is no update, I'm closing the issue.

[2016-03-11 10:55] igracia commented on #22
@jcaden Should we close this or change the milestone?

[2016-03-11 10:55] dfernandezlop commented on #34
I'm waiting for a @robecor test.

[2016-03-11 11:03] igracia commented on #34
@robecor Would you mind testing this in the development branch?

[2016-03-11 11:43] jcaden commented on #22
There is patch on the way https://github.com/Kurento/kms-elements/pull/3

[2016-03-11 13:46] dfernandezlop commented on #45
Hi,

I have detected the problem. It is a bug in libnice. We are going to try to find a solution.

Thanks.
David.

[2016-03-11 14:56] spongessuck commented on #14
Will this end up in 6.4.0?

On Fri, Mar 11, 2016 at 5:42 AM Vinay <notifications@github.com> wrote:

[2016-03-11 15:16] dfernandezlop commented on #14
In the next release.

[2016-03-14 04:58] tsonghong commented on #16
Sorry for the late reply, let me test this today and get back to you this week.  I see that there is a new version of kurento, let me test on that one.

[2016-03-14 18:38] tsonghong commented on #16
I did a quick test with the KMS 6.4.0 with Firefox v 45 using the above test and it seems to work most of the time now though the video does often take quite a bit to show up (10 seconds+) and i noticed a few times where the video would just freeze and no errors in the kurento logs.  But for now, I'm okay if you close this ticket.   If I find other issues, I'll open new cases.  Thx!

[2016-03-14 20:03] spongessuck commented on #41
I found that it gets this error because the version of `bufferutil` used by one of the libraries is incompatible with newer versions of NodeJS. Installing with whatever NPM version comes with NodeJS v0.12 didn't show this error for me.

[2016-03-14 21:47] Absor opened #46 "Kurento crashes on vp8enc invalid parameter"
Kurento constantly crashes on this error:

[code]

The pipeline is this:

RtpEndpoint -> (HubPort ->) OneToMany -> (HubPort ->) WebRtcEndpoint

I'm sending a h264 video and I guess there is a problem with the encoding to VP8.

This is the error log:

[code]

[2016-03-15 09:14] #16 closed

[2016-03-15 09:18] tsonghong opened #47 "Kurento 6.4.1 crashes when configuring the WebRtcEndpoint.conf.ini pemCertificate"
When we configure a pem certificate to /etc/kurento/modules/kurento/WebRtcEndpoint.conf.ini,
we see that kurento crashes after exchanging SDPs with a WebRtc application.

We are using  Version: 6.4.1 Kurento (daily build)
[PEMcrashing_gdbcoredump.txt](https://github.com/Kurento/bugtracker/files/173560/PEMcrashing_gdbcoredump.txt)
[PEMcrashing_kurentomedialog.txt](https://github.com/Kurento/bugtrac

[2016-03-15 09:39] dfernandezlop commented on #47
Hi  @tsonghong,

It seems that your certificate doesn't contain the private key.

Please, try with a certificate generated with the commands below:
openssl req -x509 -newkey rsa:2048 -keyout key.pem -out cert.pem -days 365 -nodes
cat key.pem cert.pem > certificate.pem

Regards.

[2016-03-15 10:20] tsonghong commented on #47
Thanks for the quick reply, seems to work!

[2016-03-15 10:20] #47 closed

[2016-03-15 12:20] tsonghong commented on #3
Wow, after trying the pemcertificate feature in 6.4.1, looks like this issue is solved!  If that was the intention of that feature, well, Kurento team, you have made my day!   Thank you!

[2016-03-15 12:26] dfernandezlop commented on #3
It's great to hear that :)

[2016-03-15 19:07] tsonghong opened #48 "Embedded device video not displayed on FF w/o manual WebRtcEndpoint reconnect (Kurento 6.3+)"
Hello Kurento team:

We have embedded linux devices (similar to raspberry pi) running OpenWebRTC
that were able to stream H.264 video to Firefox prefectly fine with Kurento 6.2.

But after we upgraded Kurento to 6.3+ (including the 6.4.1 daily build),
we noticed that the embedded device video would not display on Firefox unless we
issued a reconnect (i.e. disconnect() and connect()) between
the em

[2016-03-16 10:43] robecor commented on #34
Sorry for the late reply!
I'll test it and come back with a response.

[2016-03-17 04:52] hdlopesrocha opened #49 "Feature request for RecorderEndpoint and Kurento Repository"
Hi! First of all thanks for your support, Kurento team has been awesome until now.

Some days ago I reported that videos recorded to Kurento Repository were creating non seekable videos. Mainly because the headers were being written in the beginning of the file and, on recording stop those headers would need to change.

I suggested adding an option to store the video only when finished recording,

[2016-03-17 12:07] lotas opened #50 "KMS 6.4.1 + libnice.0.1.13 segmentation fault (return)"
I am using latest Kurento Media Server (6.4) and node.js app for one-2-one calls. However, Kurento process crashes from time to time inside libnice: (multiple crashes point to the same lib entries)

    Segmentation fault (thread 139888166897408, pid 1093)
    Stack trace:
    [nice_output_stream_new]
    /usr/lib/x86_64-linux-gnu/libnice.so.10:0x28C74
    [nice_output_stream_new]
    /usr/lib/x86

[2016-03-17 12:08] lotas commented on #50
What helped to fix the issue in our case was switching from `return` to `coturn` server, after which >120 calls were done in a row without a single crash, so it looks like this pretty much fixes our problem

[2016-03-18 01:18] mikeg0 commented on #3
I can confirm this fix too.  Great work!

[2016-03-18 07:03] tsonghong opened #51 "NodeJS API serverManager.getPipelines() always results in undefined for Promise style syntax"
Hello Kurento team,

In short:

Using the NodeJS api library for the Kurento Client,
I noticed that trying to get the pipelines using the Promise style syntax
for the serverManager.getPipelines() call always returns undefined
instead of getting a list of media pipelines.
If I switch to using the standard nodejs callback syntax, it will work fine and return
a list of media pipelines.

I have notice

[2016-03-18 09:18] tsonghong commented on #43
I beleive it's possible to get that message "Failed to parse SessionDescription. m=video 0 RTP/SAVPF Expects at least 4 fields." if you disbaled VP8 on Kurento and then tried to view the results on the Chrome browser where the sending device video is in H.264 format.  Chrome doesn't support H264 at the moment, but Kurento can transcode from H264 to VP8 for you to work on Chrome.

[2016-03-20 16:21] softforge commented on #10
I'd love to see MS Edge support, apparently they are adding VP9 soon:

https://blogs.windows.com/msedgedev/2015/09/08/announcing-vp9-support-coming-to-microsoft-edge/

Will Kurento support VP9?

[2016-03-21 09:13] dfernandezlop commented on #46
Hi,

Could you tell me what KMS and GStreamer versions are you using?

Regards.

[2016-03-21 09:15] dfernandezlop commented on #45
Hi again,

We have opened a bug in libnice [1], but we don't have any answer yet.

Sorry for troubles.

[1] https://phabricator.freedesktop.org/T7352

[2016-03-21 09:17] dfernandezlop commented on #34
Hi @robecor,

Thanks for your tests. I'm going to close the bug.

Regards.

[2016-03-21 09:17] #34 closed

[2016-03-21 09:19] dfernandezlop commented on #41
Thanks @spongessuck.

@rbenitez could you take a look to this?

[2016-03-21 09:20] dfernandezlop commented on #37
Hi,

@rbenitez Could you take a look to this?

[2016-03-21 09:22] dfernandezlop commented on #43
Hi @parveen-oodles,

Any updates?

[2016-03-21 14:23] parveen-oodles commented on #43
Hello all , thanks for your response but i was not able to successfully running any of the kurento examples , i resloved all the errors but in last there was not any error but the **remote side stream is not loaded**. I also gives the details of KMS version kurento file config etc on **stackoverflow community** and also got reply from santoscadenas as well.

But finally i setup the same on a diff

[2016-03-21 14:43] dfernandezlop commented on #43
Ok. As Jose is helping you in stackoverflow [1], I'm going to close this thread, we can't duplicate the info and the effort.

Regards.

[1] http://stackoverflow.com/questions/35915585/node-tutorial-one-to-many-has-no-loading-the-remote-server-stream-spinner-moving

[2016-03-21 14:43] #43 closed

[2016-03-22 12:12] aspev opened #52 "Intermittent build error in openwebrtc-gst-plugins: "mv: cannot stat '.gitignore.tmp': No such file or directory""
The error seems to only happen when running multithreaded make, but even then doesn't happen every time.

[code]

[2016-03-22 15:16] dfernandezlop commented on #52
Hi,

What command are you using to compile?

Thanks.

[2016-03-22 15:22] aspev commented on #52
make VERBOSE=1 -j4

[2016-03-23 07:33] isuker opened #53 "kurento-media-server Segmentation fault"
I am using Kurento Media Server (6.4.0) and kurento-room.

env:
---------------------------------------------------
server:
os............: ubuntu14.04
cpu..........: Intel(R) Xeon(R) CPU E5-2680 v3 @ 2.50GHz, 4core
memory....: 8G
------------------
clients:
several macbook chrome browser.
---------------------------------------------------

when we run with several rooms, Kurento media server cra

[2016-03-23 09:50] wojtkowiak opened #54 "kurento-rtsp2webrtc second browser receives only inter-frame differences"
Hello,

firstly thanks for a great open source project!

I am not sure is that an issue or maybe I am not using your api the right way.

I have a rtsp stream from a camera. The camera is a dome type, but most of the time it does not move. The background is still as it films an empty (no persons in it) room. If I will open the example on one computer everything is fine. But when two or more clients

[2016-03-23 12:32] dfernandezlop commented on #53
Hi,

Could you check with the development version of KMS [1]? We had an issue in the function `check_if_flow_media` but it is resolved in the master branch.

Thanks.
[1] http://doc-kurento.readthedocs.org/en/stable/mastering/kurento_development.html

[2016-03-23 12:36] igracia commented on #49
@jcaden I seem to recall you were commenting with @hdlopesrocha in the list? What's your opinions on this? It's surely not in our roadmap, but maybe something to take into account?

@hdlopesrocha Thanks for your comments! We try to keep up with all requests as best as we can :-) There's no way right now to articulate donations, though you can send us a box of beers anytime!

[2016-03-23 12:38] igracia commented on #9
@hunternet93 We really couldn't get our hands on this. It's such a corner case and something that only affects Meteor, that it's not very likely we fix it anytime soon.

[2016-03-23 12:47] igracia commented on #44
@leecris could you check in different networks? I'll be closing the issue if we don't get any feedback in some time.

[2016-03-23 12:50] igracia commented on #50
@jcaden Do we want to maybe inform libnice about this?

[2016-03-23 13:24] isuker commented on #53
thanks for your reply, and i had check the kms version

webrtc@xxx:~$ kurento-media-server -v
Version: 6.4.0
Found modules:
	Module: 'core' version '6.4.0'
	Module: 'elements' version '6.4.0'
	Module: 'filters' version '6.4.0'
	Module: 'pointerdetector' version '6.4.0'
webrtc@xxx:~$

and I found the new version at
http://ubuntu.kurento.org/pool/kms6/k/kurento-media-server-6.0/
......
kurento-serve

[2016-03-23 14:39] dfernandezlop commented on #53
Yes, it is the newest package. If you configure the dev repository, you can install this package via apt-get.

[2016-03-27 05:58] hdlopesrocha opened #55 "Question about recording resolution of a Composite"
Hi again!
I am recording each user video including a composite of all, I am benchmarking Kurento Media Server and Kurento Repository.
My test case consists on having 7 users entering in the conference room at the rate of one per minute. Then the same but leaving the conference.

I have collected the following information:
![net_samples](https://cloud.githubusercontent.com/assets/6792581/14064026/e

[2016-03-27 06:31] hdlopesrocha commented on #55
Forget
The data follows this path using localhost
KMS -> REPO -> MongoDB
Which is transfering twice the same video through localhost

[2016-03-27 06:31] #55 closed

[2016-03-28 07:17] rbenitez commented on #37
Yes, I agree. It's fixed in this [commit](https://github.com/Kurento/kurento-client-js/commit/fe7f4df65989d11f5b85f7aae3d8a4a19ad0d3a6)

[2016-03-28 07:17] #37 closed

[2016-03-28 07:38] rbenitez commented on #41
I have seen that ws library has this dependency. We are using 0.7.2 version for ws library, so we have to think about update to 1.0.1 version. We will do tests with this version on node 4.2.1

[2016-03-28 08:18] tsonghong commented on #48
Just a quick update:

One of our team members said that the issue is related to how
Kurento interacts with the gstreamer1.5-plugins-good library.

Because he said that with this version installed:

gstreamer1.5-plugins-good:amd64      1.7.0.1~20151125150841.141.g0708286.trusty

He didn't have the issue even with Kurento 6.2 and 6.3 and presumably 6.4.

However, he said when he upgraded to:

gstrea

[2016-03-28 11:03] dfernandezlop commented on #51
@rbenitez could you check this?

[2016-03-28 11:04] dfernandezlop commented on #53
Any update?

[2016-03-28 12:27] rbenitez commented on #51
@tsonghong In fact there is a bug with this method and the promise. Sorry for that, we will fix as soon as possible.

[2016-03-29 09:28] leecris commented on #44
Hi igracia!

I'm sorry for late reply. I posted a screenshot of webrtc-internals when I view in different network.

![sc1](https://cloud.githubusercontent.com/assets/10285820/14103613/3009e416-f5cb-11e5-9803-02af95da3895.jpg)

[2016-03-29 16:44] igracia commented on #44
Have you tried from even a different location? You have soooo many losses that it's no surprise you are lagging.

[2016-03-29 18:59] chetanbnaik opened #56 "might be a successful build on raspberry pi arm v7 64bit"
Dear All,

This post wants to talk about 3 things:
--> the build procedure that I followed.
--> possible error in kms-elements build on ARM architecture?
--> python binding like any other plugin of gstreamer?

I have somehow managed to build the kms-elements on my raspberry pi 2 model b. It took lots of efforts and stackoverflow, to compile it successfully. I am yet to try out the installation.

B

[2016-03-30 01:36] leecris commented on #44
Different network, different location. I tried both but result is the same. That issue cause network speed or another things? Can you give me some reason of that?

[2016-03-30 07:41] igracia commented on #44
Well, packetsLost graph is terrible. You must have some connection issue.

[2016-03-30 08:23] leecris commented on #44
I tried another webrtc app and it work fine within current 2 network. Kurento demo have packet lost and Framerate too low.
Can you suggest some reason so I can check? Firewall, bandwidth...?
Thanks!

[2016-03-30 08:26] leecris commented on #44
Another question, how can I change output of Kurento is H264?

[2016-03-30 08:35] igracia commented on #44
I'd say both firewall and bandwidth. Can you provide a link to test your setup, or test it with any of the [publicly available demos](http://catalogue.fiware.org/enablers/stream-oriented-kurento/instances)?

About H264, there are some messages on the list regarding this issue. Please don't mix threads so information can be easily found by other users where expected.

[2016-03-30 08:57] leecris commented on #44
I can't provide a public demo because of our policy. I set setMaxVideoSendBandwidth(50) & setMaxVideoRecvBandwidth(50) and then video showed but still have long delay (2-3s). Both firewall disabled, open all port, setup correct stun/turn for client...

[2016-03-30 09:17] Absor commented on #46
This is the dpkg output of kurento and gstreamer:

[code]

[2016-03-30 09:48] igracia commented on #44
Can you check with on the of the available demos that I linked in the previous post? Just to see if the problem is your setup, or your client.

[2016-03-30 23:34] kirushyk opened #57 "No dtlssrtpdec check"
In case `dtlssrtpdec` element is absent, `KmsWebrtcTransportSrc` will still be created successfully without error or message and KMS crashes a bit later in `printf`.

I know the package with that element is listed in dependencies, but just in case I suggest to add check.

[2016-03-31 00:57] kirushyk commented on #57
Same for `rtpbin`: `rtpsession` pointers should be initialised with `NULL` in `kmsbasertpendpoint.c` to make checks work correctly in case `rtpbin` is `NULL`.

[2016-03-31 01:14] kirushyk opened #58 "kmswebrtcsession.c: generate_fingerprint_from_pem crash"
This line crashes when `pem` is `NULL`:

`der = tmp = g_new0 (guchar, (strlen (pem) / 4) * 3 + 3);`

[2016-03-31 01:34] leecris commented on #44
I tried but got error message "WebSocket connection to 'wss://kurento.lab.fiware.org:8083/call' failed: Error in connection establishment: net::ERR_TIMED_OUT"

[2016-03-31 05:33] chetanbnaik commented on #56
Hello All,

I would like to announce that the above method is correct, if one wants to build kurento kms-elements on Raspberry Pi.

The gst-inspect-1.5 was throwing the error because the gstreamer cache was not updated.

My next step is to use kms-elements, and make RPi work as a standalone webrtc native client able to communication with any other browser or native client

[2016-03-31 05:33] #56 closed

[2016-03-31 07:16] dfernandezlop commented on #58
Please, update your code. That line was changed some time ago.

[2016-03-31 07:16] #58 closed

[2016-03-31 07:48] kirushyk commented on #58
Oh, thats true :-) Good

[2016-03-31 08:01] igracia commented on #44
Which one did you try? I think it's [this](https://kurento.lab.fiware.org:8083/#) one. It's working right now. I think there was an outage last night, as I got some nagios messages in my inbox this morning. Please do try again, it should be ok now.

[2016-03-31 08:06] igracia commented on #56
Cool! Thanks for the feedback, and for the effort on doing that. Please do post your progress, as it will help other user compile KMS in different environments.

[2016-03-31 08:31] leecris commented on #44
I just tried your link and got same result as what I did. Presenter work fine, open new tab and click "Viewer". Nothing showed up. All graph in webrtc-internal is 0. No error in console.

[2016-03-31 08:40] igracia commented on #44
Then there's something in your client or network, as that server and app are working fine. I tried to connect, but you were signed in as presenter already. I didn't get any video back, so I guess the issue is that the presenter's video never arrives at the media server.

Can you please also try with [this](https://kurento.lab.fiware.org:8081/) more simple demo? Check both FF and Chrome, just in ca

[2016-03-31 09:15] leecris commented on #44
None of all demo worked. I'll try with few another network and feedback soon.

Thanks!

[2016-03-31 10:14] javierlopezfernandez commented on #44
kurento.lab.fiware.org host is currently experiencing huge network losses. We already contacted network administrators, but now it is not functional. I'll update this issue when network is back to normal operation

[2016-04-04 02:53] tsonghong commented on #48
By the way, we beleive the issue is related to the "config-interval" parameter in the rtp gst library as mentioned:

https://github.com/Kurento/gst-plugins-good/commit/453a618a9dc0ee6b35532f8b6c1d526300e17c54

Because based on that description, the SPS/PPS are disabled by default.  So, if you can show me how to configure the "-1 = send with every IDR frame"within kurento package and if we verify i

[2016-04-04 07:27] jcaden commented on #48
@tsonghong  This property is currently set to send a SPS/PPS package every second. I think that it will be enough.

[2016-04-04 07:32] tsonghong commented on #48
In the master branch, I see the DEFAULT_CONFIG_INTERVAL set to 0 which based on the comments says disable sending SPS/PPS.  If it were every second, I would think DEFAULT_CONFIG_INTERVAL would be 1.  Am I missing something?

I'm referring to:
https://github.com/Kurento/gst-plugins-good/blob/master/gst/rtp/gstrtph264pay.c#L71

[2016-04-05 07:52] jcaden commented on #57
We are supposing that the system is correctly configured and is a requisite to have all needed plugins installed. In case that they are not installed, is preferred to directly crash the server in order to notice the problem clearly, because it won't be possible to run properly in any case.

[2016-04-05 07:52] #57 closed

[2016-04-05 07:55] jcaden commented on #50
We have noticed that this kind of errors occur when using TURN-tcp and the connection with the TURN server is broken for some reason. Libnice is already notified and there is people working to fix this. We will keep you posted.

Thanks.

[2016-04-05 08:07] jcaden commented on #49
Hi,

We have implemented this already for MP4 format, when the destination uri is not seekable (not file), the video is buffered in a temporary file until stop is called. This has not been implemented for webm because webm files are recorder properly, except for the issue that they are not seekable. As any error on the kms or not calling to stop will end up with no video at all, we prefer to just

[2016-04-05 08:07] #49 closed

[2016-04-05 08:07] jcaden commented on #50
Related with https://github.com/Kurento/bugtracker/issues/45

[2016-04-08 12:15] igracia opened #59 "kurento-utils shows spinner in video tag with only audio-only connections"
If the constraints passed to `WebRtcPeer` specify `{ audio : true, video : false }`, and the user sets a video tag in `localVideo`, the spinner stays there forever, even when the connection is established and media is flowing. We should change the icon for a speaker or something like that, to show that there will be audio only in that element.

[2016-04-08 12:17] igracia commented on #53
@isuker Did you check with the latest version? Any info you can provide? Please come back to this issue. Otherwise we will close it.

[2016-04-12 14:36] mcuervoe commented on #53
I had the issue with the check_if_flow_media and I moved to the kurento version 6.4.1~20160323111652 as suggested

The media server starts but now kurento is not able to load the modules that I have developed (and they were working with version 6.4.0). The message that I get is:

0:00:00.618559622     1      0x1f27560 WARN    KurentoModuleManager ModuleManager.cpp:61:loadModule: Module /usr/lib/x8

[2016-04-12 14:44] jcaden commented on #53
Try updating `kms-core` and `kms-elements` and recompile them again, cleaning first.

[2016-04-12 15:33] mcuervoe commented on #53
I didn't get `kms-core` nor `kms-elements` from the sources but from the apt package. Do I need to compile them manually?

[2016-04-13 05:00] jcaden commented on #53
No, but you have to be sure that you have the last version

[2016-04-13 12:04] mcuervoe commented on #53
Jose Antonio, you were right. I need to get sure that I was using the last version. With the lastest package installed I have not problems loading my filters. However, I keep having the error

[code]

For your information:

 `kurento-media-server -v` produces
[code]

The packages I have installed are:

[code]

[2016-04-13 12:11] jcaden commented on #53
Not sure, but this could be related to your video filter. In order to make server fail when this warning is reached, define `G_DEBUG=fatal_warnings` on your `/etc/default/kurento-media-server-6.0`this way you will get a trace of the point where this warning is reached.

[2016-04-13 13:03] mcuervoe commented on #53
I have defined `G_DEBUG=fatal_warnings` on my `/etc/default/kurento-media-server-6.0` and rerun the test. I get again the assertion CRITICAL message, but `find / -type f -name core` do not find any core dump in my system.

[2016-04-13 15:18] jcaden commented on #53
Could it be handled by apport?

[2016-04-14 11:01] mcuervoe commented on #53
Sorry, don't know what apport is. Let me investigate it and I will get back to you.

In the meantime, I did another test with a bare kurento media server 6.4.1 without the filters I have developed, and the CRITICAL message is still reproduced.

Now `kurento-media-server -v` produces

[code]

Just for your information, I am testing the kurento-one2one-call-recording app from the java tutorials. To

[2016-04-14 12:44] valterlorran commented on #51
Hi guys, not sure if I have the same problem. But when I try to see the presenter(1 to many example) I get an error in the following line:
` presenter.pipeline.create('WebRtcEndpoint', function(error, webRtcEndpoint) {`
The error says that the "create" method does not exists, seems that presenter.pipeline is undefined.

[2016-04-15 08:18] mcuervoe commented on #53
No luck with apport either:

1. I set the `/etc/apport/crashdb.conf`as explained [here](https://wiki.ubuntu.com/Apport) with a # in front of the line `'problem_types': ['Bug', 'Package'],`
2. I executed the test with `G_DEBUG=fatal_warnings` at the end of `/etc/default/kurento-media-server-6.0`
3. the critical message is reproduced
4. No file is produced in `/var/crash`, which I think it is what y

[2016-04-19 07:42] mcuervoe opened #60 "RecorderEndpoint not saving in repository if uri contains a hostname and not a IP"
Kurento version: tested with 6.4.0 and 6.4.1
SO: Ubuntu 14.04
Application: kurento-hello-world-repository

If in the configuration file of the kurento-repository you specify a hostname rather than a ip, the RecorderEndpoint is not able to save the the video in the repository.

So, if you replace ```kurento-repo.conf.json```

[code]

with this

[code]

then, when you run the tutorial app, the media

[2016-04-19 07:53] dfernandezlop commented on #60
Hi,

We use curlhttpsink to do that, and this element doesn't support name resolution so you need to use the IP address.

I'm closing the thread because it isn't a bug but a non supported feature.

Sorry for troubles.

[2016-04-19 07:53] #60 closed

[2016-04-19 09:13] dfernandezlop commented on #28
Any update? If there isn't updates in a couple of days, I will close the thread.

[2016-04-19 09:15] dfernandezlop commented on #52
Hi,

There is a concurrency problem in the cmake. We will try to fix it but it isn't in our short-term roadmap.

Sorry for troubles.

[2016-04-19 09:27] dfernandezlop commented on #54
Hi,

Your problem doesn't seems to be a Kurento related problem. Although there are hundreds of viewers, Kurento only reads one time the stream for your camera  (probably if you disconnect the vlc, you won't have problems with the video). There is no way to request a keyframe from the Kurento API.

Maybe the problem could be related with your camera or with your bandwidth. Have you tried to connec

[2016-04-19 14:02] spongessuck opened #61 "Adjacent recordings in same pipeline won't write to disc until all recordings are stopped"
I have an application where 2 peers stream audio/video to each other while it's also recorded on KMS. The 'conference' is broken into two parts, so that as soon as the first part is finished, the recording ends and a new one begins for the second part.

It seems like the first recording won't finish writing to disc until all recordings have stopped. I can play it back while the 2nd stream records,

[2016-04-19 14:10] dfernandezlop commented on #61
Hi,

Are you calling to the stop method of the recorder to finish the first recorded video? It seems like you aren't doing and you are finishing the videos when the pipeline is released.

Regards.

[2016-04-19 14:27] spongessuck commented on #61
Wow... I distinctly remember calling 'stop' on the Recording Endpoint before and getting a reference error. I just tried it again and now it works.

Thanks, sorry for wasting your time.

[2016-04-19 14:27] #61 closed

[2016-04-21 22:18] zarybnicky opened #62 "Multistream in WebRtcEndpoint?"
I haven't been able to find any info about this - are there any plans for supporting multiple streams in a single WebRtcEndpoint? I've been intending to use Kurento to implement a multi-broadcaster webinar-like application but I didn't expect to find this as an obstacle...

Ideally, I'd like to use one WebRtcPeerSendrecv for all the broadcasters, all of them sending one audio and one video stream

[2016-04-22 06:47] igracia commented on #62
I'm afraid multistream is not supported at the moment. It's in the roadmap, but can't give you an estimate.

[2016-04-22 15:19] wheelph opened #63 "Alphablending Mixer works, but something may not behave as expected"
I wrote a demo to demonstrate the Alphablending Mixer which is , it works, but the method of Alphablending not behave as expected. as follows

setPortProperties :
1,  when relativeX = 0 or relativeY = 0 or  relativeX  > relativeWidth or relativeY > relativeHeight,  the sub video looks fine;
2,  0 < relativeX < relativeWidth or  0 < relativeY < relativeHeight, the sub video looks strange, it seems

[2016-04-23 12:56] kirushyk commented on #53
I had very strange FaceOverlayFilter-related crash caused by `g_object_set (queue, "max-size-time", LEAKY_TIME, "leaky", 2 /*downstream */ , NULL);`
But now it's solved by https://github.com/Kurento/kms-core/commit/8f0a42bf49f82bfae41ae255d792e660791ba89d

[2016-04-27 00:41] subpardaemon opened #64 "kurento-client-js: improve documentation"
Hi,

Regardless of where I looked in the documentation or the source code, I cannot find methods to clean up an unused WebRTCEndpoint or MediaPipeline. While that might not be a huge issue in the nodejs client (after all, removing all the references, at least in my code, to the WebRTCEndpoint(s) or the MediaPipeline, should mark these objects ready for GC -- unless the kurento-client-js libraries

[2016-04-27 05:21] jcaden commented on #64
You have release and unref methods for this purpose. Additionally, when the websocket is closed for more than 4 minutes, all elements associated only to that session are destroyed.

[2016-04-27 09:39] subpardaemon commented on #64
Ah. But then let me suggest to reopen this ticket, because then the problem is the severly cripped API reference for the nodejs client libraries, and the lack of proper documentation for the nodejs API in general. (Btw, I couldn't find any reference to unref(), beside the timers in nodejs in general.)

The nodejs API reference doc is very problematic for the following reasons:

1. Some methods, ev

[2016-04-27 09:51] igracia commented on #64
I think you've got a point there. We are working right now on improving the API documentation: headers, methods and so on. We'll have a look at that.

As for the "How do I..." part, you are also right. We should include that for all clients.

[2016-04-27 09:55] subpardaemon commented on #64
If you need help with writing the "How do I" part, count me in, I'd be glad to help (although I would need heavy revision as I'm still learning how to do things in Kurento). But if it's all the same to you, I'd prefer writing this using promises instead of the callback-style interface that is prevalent in the current documentation.

[2016-04-27 10:24] igracia commented on #64
Yeah, that's not a bad idea. Let us see how we can schedule that, and I'll get back to you with some info.

Perhaps the best would be for you to submit a pull-request to the doc-kurento project.

[2016-04-27 21:46] subpardaemon commented on #64
OK, I'll be standing by. (Actually, coding like a madman, but that's beside the issue.)

[2016-04-28 15:07] mariotacke opened #65 "Include kurento-utils browser build in npm module"
For the [kurento utils](https://www.npmjs.com/package/kurento-utils) npm module, can you include the [browser](https://github.com/kurento/kurento-utils-js#browser) build on npm? It seems like an unnecessary step for a user of the library to have to install and run grunt on the already installed package.

[2016-04-28 15:10] mariotacke commented on #9
Looks like this issue has been resolved, there is now a package that gets installed with kurento utils, which has no content. I still think the dependency should just be removed than having a stub project dependency.

[2016-04-29 07:59] subpardaemon commented on #64
BTW, something I can't find in the docs either: are there any methods to decouple/disconnect items from a MediaPipeline? release(), at least on the first blink, seems to release the object on the KMS, but doesn't decouple the objects from each other. And with circular references and whatnot, it could raise hell regarding GC. Or does it do decoupling at a separate place automatically after the serv

[2016-04-29 08:15] igracia commented on #64
Yes, releasing one object destroys it internally, along with all connections. There is also a disconnect method. You can check that in the [Java](https://doc-kurento.readthedocs.io/en/stable/_static/langdoc/javadoc/org/kurento/client/MediaElement.html#disconnect(org.kurento.client.MediaElement)) documentation. Somehow it didn't make it to the JS docs, we'll have to see why.

[2016-04-29 09:32] subpardaemon commented on #64
So basically I can call MediaPipeline.disconnect(ChildElement)? I have used disconnect() to decouple viewers from one WebRtcEndpoint and to decouple a RecorderEndpoint from a WebRtcEndpoint, but based on this, I can also decouple the primary WebRtcEndpoint from the serving MediaPipeline, right? And what is the preferred order, first disconnect() then release()?

[2016-04-30 22:48] kirushyk opened #66 "kms-cmake-utils: CMake 3.4 on Fedora couldn't find FindKurentoHelpers.cmake"
CMake 3.4 on Fedora looks for modules in `share/cmake/Modules/` folders only.
However, https://github.com/Kurento/kms-cmake-utils/blob/master/CMakeLists.txt#L8
puts `.cmake` files in `share/cmake-3.4/Modules/`.

[2016-05-05 18:16] Sanoend opened #67 "Can't connect kurento-client-js in node app with KMS exposing WSS with self-signed certificate"
Hi. Not working kurento-tutorial-node examples.

for example: kurento-one2many-call crashed:
/kurento-tutorial-node-master/kurento-one2many-call/server.js:266
        presenter.pipeline.create('WebRtcEndpoint', function(error, webRtcEndpoint) {
                           ^
TypeError: Cannot call method 'create' of null
    at startViewer (/home/sano/kurento-tutorial-node-master/kurento-one2many-ca

[2016-05-05 19:17] igracia commented on #67
You need to enable WSS in your KMS server. Please check [this](https://doc-kurento.readthedocs.io/en/stable/mastering/securing-kurento-applications.html#configure-kurento-media-server-to-use-secure-websocket-wss) guide for doing that.

[2016-05-06 06:04] Sanoend commented on #67
igracia WSS ON SSL certificate is authorized.
I wrote an application for RTSP2WebRTC and it works. But transcoding (h264 - vp8) creates a new session for each client is connected. I want to make one session for this and try to run the sample one2many-callas but the example does not work. Have you tried to run it yourself?

[2016-05-06 09:10] igracia commented on #67
Yes, I just did. You need to accept the certificate in your browser. From the docs

Be careful with the port! It's 8433, not the regular https port.

[2016-05-06 10:11] Sanoend commented on #67
igracia i use  certificate is authorized.
The browser receives the certificate. In your browser, all things are good, it does not work on the server-side script in this example node.js

node js crashed:
/kurento-tutorial-node-master/kurento-one2many-call/server.js:266
presenter.pipeline.create('WebRtcEndpoint', function(error, webRtcEndpoint) {
^
TypeError: Cannot call method 'create' of null
at s

[2016-05-06 10:50] jahKIper commented on #67
function getKurentoClient(callback) don't creates kurentoClient

But I created it like this and return it:
   someHZ = kurento(argv.ws_uri, function(error, _kurentoClient) {...}
       if (kurentoClient === null) {
          kurentoClient = someHZ;
          callback(null, kurentoClient);
    }

now kurentoClient exists, but it don't creates MediaPipeline ...

[2016-05-06 11:08] igracia commented on #67
The node tutorials are also working out of the box, with a regular KMS listening in ws://<kms-ip>:8888/kurento. You just need to run the server with the url where the KMS can be found `npm start -- --ws_uri=ws://<kms-ip>:8433/kurento`.

Now, I'm not really sure what you have tried already, or what is it you want to achieve. It it's running the tutorials with a fresh and unmodified instance of KMS,

[2016-05-06 11:33] jahKIper commented on #67
We want that KMS works with WSS

[2016-05-06 12:20] igracia commented on #67
Ok, that is a bit more clear now. I'm afraid there is some issue with the reconnect-ws library version we are using, and the use of self-signed certificates. We haven't been able to solve this yet, and we are not putting much effort in it right now. Can't tell you when it will be solved.

In the meantime, I'd suggest you use KMS with plain WS. Since both servers are probably going to be deployed i

[2016-05-10 11:36] mcchin opened #68 "Need to restart kurento-media-server once in a while"
I have to manually restart kurento-media-server when I encountered the following error.

[code]

And on 2016-05-10 16:27 I got the following from error log:

[code]

[Edit] Kurento-media-server version 6.4.0

[2016-05-10 23:59] kirushyk opened #69 "Why kms-core checks for gstreamer-check library presence?"
In CMakeLists.txt there is generic_find for gstreamer-check-1.5.
But it seems not to be used. Or am I wrong?

[2016-05-11 07:53] dfernandezlop commented on #69
Hi,

We use gstreamer-check in our tests [1].

This is not a bug, for asking questions please use the kurento public list [2].

I'm closing this thread.

[1] https://github.com/Kurento/kms-core/blob/master/tests/check/element/CMakeLists.txt
[2] https://groups.google.com/forum/#!forum/kurento

[2016-05-11 07:53] #69 closed

[2016-05-11 07:55] dfernandezlop commented on #68
Hi,

Could you provide more information? Please, read https://github.com/Kurento/bugtracker/blob/master/README.md

Thanks.

[2016-05-11 07:59] dfernandezlop commented on #53
Any update on this?

[2016-05-11 09:13] dfernandezlop commented on #66
Hi,

Kurento only supports Ubuntu, and this is the way to install a cmake module in Ubuntu.

Sorry for troubles.

[2016-05-11 09:13] #66 closed

[2016-05-11 09:24] kirushyk commented on #69
Sorry!

Thank you for clarification.

[2016-05-11 09:44] kirushyk commented on #53
Some weeks ago there was code with incorrect type of argument in variable argument list of g_object_set, and that code caused strange crashes. Code appeared in master branch and has been removed soon after.

[2016-05-11 09:55] dfernandezlop commented on #53
Ok, then I'm going to close the bug. If you have the same problem again, please feel free to come back.

Thanks for report.

[2016-05-11 09:55] #53 closed

[2016-05-11 09:57] dfernandezlop commented on #54
Any update?

[2016-05-11 11:36] kirushyk commented on #53
Sorry, in link I sent few message ago bug was introduced, not fixed. In next revision of that file changes seems to be reverted.

[2016-05-11 12:18] dfernandezlop commented on #28
No updates. I'm closing the thread.

[2016-05-11 12:18] #28 closed

[2016-05-12 10:04] wojtkowiak commented on #54
Hey,
thanks for your time.

I have tried vlc and ffplay at the same time and there seems to be no such issue.

https://www.youtube.com/watch?v=Iofl9yr5IMk
Here I am starting just w ffplay. Then I am staring kurento and connecting two clients. After that I add vlc. In this test the keyframe was updated a little bit sooner than the last time. On ffplay and vlc there is no issue.

https://www.youtube

[2016-05-13 21:58] tgabi333 commented on #65
I think its not unnecessary., because you use all of your npm installed packages in the browser through some module loader (mostly browserify). Since npm is for node, you must pack the sources for browser.

Most of the time you already have a packager, you're done, not needed to pack this piece.

[2016-05-13 22:01] tgabi333 opened #70 "Missing dependencies from kurento-client-core-js"
As you can see here:

https://github.com/Kurento/kurento-client-core-js/blob/master/lib/abstracts/MediaObject.js

There are several require calls with `kurento-client` and `es6-promise` and `promisecallback` which are not native nor in the package.json.

[2016-05-13 22:24] tgabi333 opened #71 "Node v6 freeze with kurento-client-js"
MediaObject.create promise never returns and the CPU usage is 100%

The problem is somewhere here: `MediaObject.prototype.then`

Cannot reproduce with node v.0.12, v4 and v5, only v6 freezes.

Got it from profiler:

[code]

and:

[code]

[2016-05-14 02:54] mariotacke commented on #65
You make a good point, but I think that your reasoning is a little too broad to apply in all cases. The library *requires* you to use grunt to build a browser compatible package. My project is not using grunt and running a build task on a node package seems like a hack to me. Including the build along with the other compiled files makes this library more portable and reduces build complexities. It

[2016-05-15 16:45] yev opened #72 "HttpGetEndpoint error in nodejs"
Hello,

I try to build the simple app following this doc http://doc-kurento.readthedocs.io/en/stable/_static/langdoc/jsdoc/kurento-client-js/index.html

When I run my app, I got the weird error in line:
pipeline.create('HttpGetEndpoint', function(error, httpGet)

After a little search on Kurento API docs, seems there is no such a class. Maybe there is a new version of API and the docs dont reflect

[2016-05-16 19:48] s-silva opened #73 "PlayerEndpoint.setPosition freezes video after 30s mark"
Setting position beyond 30s on a WEBM video freezes playback, anything below 30s point seems to work fine. Also, this is only happening with Kurento recordings, WEBMs created with FFmpeg had no seeking issues.

Kurento version:
[code]

Using Kurento node client.

[2016-05-17 06:46] mcchin commented on #68
**What steps will reproduce the problem?**
Running for a couple of weeks, sometimes kurento-media-server will crash (see first post for error log)

**What is the expected output?**
Ans: kurento-media-server is working

**What happens instead?**
Ans: server crashed (see first post for error log)

**What are the specific versions of**

_kurento-media-server -v_
[code]

_dpkg -l | egrep -i "kurento|g

[2016-05-17 23:35] subpardaemon commented on #64
Another documentation-related matter came up while developing our application with KMS. Namely, it is only hinted in the documentation that WEBRTC endpoints should be able to adapt to the peer's requirements. So the question is, not covered by the documentation or the FAQ, is:

If the scenario is a presenter with multiple viewers, let's assume the presenter sends a 720p video stream that consumes

[2016-05-18 07:39] igracia commented on #64
`release()` implies a `disconnect()`. If you are going to do both, you might as well do only the `release()`. In any case, can't disconnect after it has been released.

The downgraded stream thing is simulcast, and for now KMS can't do it. Since the "feedback" form the new viewer will arrive at the presenter's WebRTC, the presenter will downgrade the quality of the stream to meet that of the worst

[2016-05-18 07:41] igracia commented on #72
I'm afraid the `HttpGetEndpoint` was deprecated over a year ago. We've removed the example from the README.md file, which in any case shouldn't be there. If you want to learn how to use Kurento, please check the [tutorials](https://doc-kurento.readthedocs.io/en/stable/tutorials.html) as they are more updated.

[2016-05-18 07:41] #72 closed

[2016-05-18 08:46] yev commented on #72
Yep, it's removed from Readme, but still present in the documentation...
It was not so difficult to find out that HttpGet class is not present in the source, but anyway this requires to dig... Maybe I will try to make a pull request regarding this issue

[2016-05-18 09:44] subpardaemon commented on #64
Ah-ha. So what you are saying is that when a presenter (P) creates (via the signaling server/Kurento JS API client=SERVER) a MediaPipeline, attaches its own WebRtcEndpoint (WRE), then creates the WebRTC connection, Kurento is presented as a max-capability partner, but when additional viewers (V) connect and create their own WREs which are attached to P's WRE, an active negotiation will happen betw

[2016-05-18 10:57] igracia commented on #72
Is it still present in the documentation? Could you point it?

[2016-05-18 12:19] subpardaemon commented on #64
Found another gotcha in the documentation. Compared to how this affects general useability, it is very much hidden. I'm talking about the default bandwidth clamps on WebRtcEndpoints.

At http://doc-kurento.readthedocs.io/en/stable/_static/langdoc/jsdoc/kurento-client-js/module-elements.WebRtcEndpoint.html , the default settings for setMaxVideoRecvBandwidth and setMaxVideoSendBandwidth are at 500kb

[2016-05-18 13:40] igracia commented on #64
Yes, you could connect a transcoder to isolate the feedback from the viewers back to the presenter.

We have added more information to the headers, but it hasn't made it to the docs yet. You are right: we probably should put it in more places ;-)

[2016-05-18 14:44] subpardaemon commented on #64
Uh, wait a second... I've looked around in the docs, and I seem to remember there being a transcoder module. However, upon closer inspection I can't find any such thing neither here http://doc-kurento.readthedocs.io/en/stable/mastering/kurento_modules.html nor here http://doc-kurento.readthedocs.io/en/stable/_static/langdoc/jsdoc/kurento-client-js/index.html . Is it possible? Or should I just atta

[2016-05-18 15:03] jcaden commented on #64
Could you continue this conversation in the mailing list, please? As this is becoming more a conversation than a bug report.

[2016-05-18 16:37] subpardaemon commented on #64
In all fairness, you're right; still, these could be real-life use-cases in the docs. Nevertheless, I'll stop asking these here, and sorry. :) Do you still need help with the docs?

[2016-05-18 18:37] igracia commented on #64
It is true that some issues end up being conversations, but always about the issue in hand ;-) Not to worry! The question you are asking would better go in the list.

[2016-05-18 18:37] #64 closed

[2016-05-18 19:57] yev commented on #72
I mentioned the doc in the description (http://doc-kurento.readthedocs.io/en/stable/_static/langdoc/jsdoc/kurento-client-js/index.html).
You can search then for HttpGetEndpoint

[2016-05-19 12:59] LippyThunder opened #74 "KMS 6.4.0, Kurento RTSP/HTTP URI to WebRTC example, Ubuntu 14.04.4 LTS -- Segmentation fault"
I've installed KMS and the Kurento RTSP/HTTP URI to WebRTC example (https://github.com/lulop-k/kurento-rtsp2webrtc). I've successfully received the stream from Wowza's RTSP test stream (rtsp://184.72.239.149/vod/mp4:BigBuckBunny_115k.mov) and from one of our IP cameras (D-Link DCS-2121). However when I've tried connecting to our HD IP camera (Foscam R2) the server threw a segmentation fault produc

[2016-05-20 12:45] tgabi333 commented on #71
seems related to this: https://github.com/stefanpenner/es6-promise/issues/190

[2016-05-20 14:15] igracia commented on #71
Thanks for the feedback!

[2016-05-20 15:43] tgabi333 commented on #71
Mixing kurento's `es6-promise` and native `Promise` could cause this behavior.

We have a code like this:
[code]
The freeze happens if i call native `promise.all` with the results above:
[code]

[2016-05-20 15:44] tgabi333 commented on #71
@igracia would mind if i create a pull requests to use the native Promise implementation if available and use only use es6-promise otherwise?

[2016-05-20 16:11] igracia commented on #71
If you don't mind waiting, we'll implement that next week. We've had some issues recently with our internal Gerrit, and wouldn't want that to be lost.

@rbenitez Can you have a look at this? It should be easy peasy.

[2016-05-20 22:33] gianpi90 opened #75 "Can't compile kms-core 6.4.0 on arm architecture"
When I compile kms-core 6.4.0 on rasperry pi with kurento-module-creator 4.0.0, I have this error:

<code>
Error calling code generator: usage: kurento-module-creator

 -c,--codegen \<CODEGEN_DIR\>                 Destination directory for
                                            generated files (required if
                                            --show-values or

[2016-05-21 17:27] gianpi90 commented on #75
ok I have built kms-core 6.4.0, I replace CMake/CodeGenerator.cmake with the same file of the testing branch and modify the version of kurento-module-creator at row 5:

`generic_find(LIBNAME KurentoModuleCreator VERSION ^4.0.0 REQUIRED)`

There are some problems with this file of the master branch when I compile.

[2016-05-23 14:07] LippyThunder commented on #74
I've changed the camera's bit rate from 4M to 1M and it does not crash anymore.

[2016-05-23 14:07] #74 closed

[2016-05-23 14:21] igracia commented on #74
Thanks for the feedback!

[2016-05-23 15:48] gianpi90 commented on #56
How do you resolve the issue?
I follow this guide, but the errors still remain.
When I delete cache I have also the error:

`** (gst-plugin-scanner:6304): CRITICAL **: can't find gi.repository.Gst`

I have installed gir1.2-gst but this doesn't fix the issue.
I have installed the server also, and it fails due to this error.

[2016-05-24 12:39] chetanbnaik commented on #56
which glib version you have in LD_LIBRARY_PATH while compiling libnice?
I started the installation on a fresh sd card, as there can be conflicts with raspbian versions of various dependencies.

[2016-05-26 14:49] dfernandezlop commented on #73
Hi,

Have you checked with the last release of Kurento (6.4.0) or with the development version?

Regards.

[2016-05-26 14:59] s-silva commented on #73
Hi @dfernandezlop,

We had the same issue with v6.4.0:
[code]
I'll try the development version and post an update here.

[2016-05-27 07:42] dfernandezlop commented on #68
Hi,

I have readed carefully your log and I can't give you any answer because I haven't seen any thing in the log. I guess that your problem could be related with a previous bug related with the MediaFlow event. This  problem has been resolved in the development version.

Sorry for troubles.
Regards.

[2016-05-27 07:43] dfernandezlop commented on #54
Hi,

There is a main difference between using vlc and Kurento. Kurento is transcoding the flow from h264 to vp8. Probably KMS is loosing a keyframe and it doesn't received anymore so it is not able to transcode in the correct way.

I have never seen this error with other IP cams. Maybe you can configure your cam to emit keyframes each n seconds.

Regards.

[2016-05-28 22:05] gianpi90 commented on #75
I have some problem with kurento-media-server, so I need the correct file CMake/CodeGenerator.cmake for kms-core.

[2016-05-28 22:10] gianpi90 commented on #56
ok I resolved these errors installing gst-libav gst-plugins-good ugly bad and their dependencies, but I have a wrong behaviour of the server, I have to rebuild kms packages?

[2016-05-29 04:59] chetanbnaik commented on #56
I would suggest don't install gstreamer plugins from the repository using apt-get. Build those available from Kurento repository.

[2016-05-29 10:58] NassiHarel opened #76 "Kurento Client sometimes throws exception"
I'm getting an error in the module:
https://github.com/Kurento/kurento-client-js/blob/master/lib/KurentoClient.js

function onNotification(message) {
    var method = message.method;
    var params = message.params.value;

    // this line throws exception: cannot read property object of undefined
    var id = params.object;

version: 6.2.0

Thanks :-)

[2016-05-29 12:37] gianpi90 commented on #56
I have compiled them from kurento source repository.

[2016-05-30 07:12] dfernandezlop commented on #75
Hi,

Kurento is designed to be built in Ubuntu, so this is not a bug. Please write to the public list [1] to try getting help.

Best.
[1] https://groups.google.com/forum/#!forum/kurento

[2016-05-30 07:12] #75 closed

[2016-05-30 07:19] dfernandezlop commented on #76
Hi,

What version of kurento-client-js are you using? If you use a newer kurento-client version than KMS version you can get that kind of problems. Please update your KMS to the last version and try again.

If you still have problems, please attach your KMS log and a snippet of your application code.

Thanks.

[2016-05-30 10:00] mcchin commented on #68
Hi, Thanks for taking the time to look into this. Do you have any links that describe the bug you have mentioned?

[2016-05-30 11:17] tgabi333 commented on #71
@igracia, @rbenitez Can i help you with it?

[2016-05-30 13:02] rbenitez commented on #71
Hi @tgabi333, I'm sorry for late answer, how can I reproduce your problem?

Thanks

[2016-05-30 13:05] tgabi333 commented on #71
Yep:

Use the addInstance method above with native Promise implementation. Collect the results in an array and call `Promise.all(promises).then(...)`

You'll never get into `then`.

[2016-05-30 19:26] s-silva commented on #73
Working on v6.5.0

[code]

Closing the issue. Thanks @dfernandezlop !

[2016-05-30 19:26] #73 closed

[2016-05-31 08:07] dfernandezlop commented on #73
You are welcome!
Thanks for your feedback.

[2016-05-31 10:29] bhushanvadgave opened #77 "KMS 6.4.0 Ubuntu 14.04 LTS (64 bits), JS hello-world-tutorial 6.2.2-dev, Windows -- Can’t see loopback video"
KMS kurento.conf.json
[code]

I started JS kurento-hello-world tutorial by running
`http-server -p 8443 -S -C keys/server.crt -K keys/server.key`

Accessed `https://<KMS Host>/kurento` to let browser download the certificate.
Then accessed the demo by
`https://localhost:8443/index.html?ws_uri=wss://<KMS Host>/kurento`

I could only see the local video stream but not the remote. No errors found in

[2016-05-31 10:37] jcaden commented on #77
The problem is that you have not configured a STUN/TURN server. Please check [documentation](http://doc-kurento.readthedocs.io/en/stable/installation_guide.html#stun-and-turn-servers) in order to know more about STUN and TURN servers.

[2016-05-31 12:30] bhushanvadgave commented on #77
As mentioned in the document

 My KMS is running in a VM on cloud accessible over internet. Do I still need STUN/TURN server?

[2016-05-31 12:52] jcaden commented on #77
You are right, your server is in a public IP address, but your computer is not. Then it is necessary to configure STUN or TURN (depending on the type of NAT) in the client. This should be done by applications already. @igracia can you have a look at this? I can't see reflexive candidates from the browser in the attached log.

You should also check that there is UDP access from your computer to the

[2016-06-01 04:16] bhushanvadgave commented on #77
I also tried running the same tutorial on a Ubuntu machine in which both KMS and http-server was running.
I started JS kurento-hello-world tutorial by running
`http-server -p 8443 -S -C keys/server.crt -K keys/server.key`

KMS was NOT SSL enabled in this case.
Accessed the demo by
https://localhost:8443/index.html

Still I couldn't see the remote loopback video. No errors in logs.

[2016-06-01 05:45] voltrevo opened #78 "GStreamerFilter textoverlay does not work"
I'm running something similar to the magic-mirror in kurento-tutorial-node and am trying to create a GStreamerFilter like this:

[code]

but the following exception is being thrown:

[code]

I don't understand what this error means, and am confused because a similar command works using `gst-launch` on the command line:

[code]

![screen shot 2016-06-01 at 3 39 48 pm](https://cloud.githubuserconten

[2016-06-01 07:18] jcaden commented on #78
Hi, `GStreamerFilter` expects that the element created has a sink pad called 'sink' and a source pad called 'src'. But text overlay hast two sink pads one for video and other for text. That is why it doesn't work as you expect.

I'm closing this bug, if you need further support, please ask in the [mailing list](https://groups.google.com/forum/#!forum/kurento).

[2016-06-01 07:18] #78 closed

[2016-06-01 10:53] dfernandezlop commented on #19
Hi,

In the last KMS release (6.5.0) we have fixed the wrong behaviour of the properties and typos in properties.

Thanks for the report.

[2016-06-01 10:53] #19 closed

[2016-06-01 11:52] Hemanshu1belani opened #79 "[kurento-utils-js] Warn when choosing audio and video, and camera fails to provide video (if possible)"
User OS : Ubuntu 14.04 LTS (64 bits)
User Browser : Chrome - 51.0.2704.63 (64-bit)

Use Case :

A user has a non-working camera  & he tries for a video call.
As he click on video call button I set following media constraints & start the calling process

const MEDIA_CONSTRAINTS_AUDIO_VIDEO = {
    audio: true,
    video: true
};

Because of above constraint var offerVideo is set to true.
Now he get

[2016-06-01 12:02] dfernandezlop commented on #79
Hi,

It is not a Kurento bug, but a Chrome bug [1].

Regards.
[1] https://bugs.chromium.org/p/chromium/issues/detail?id=403710

[2016-06-01 12:08] igracia commented on #79
I think we could add a warning in Kurento-Utils to prevent this. I asked @Hemanshu1belani  to file a feature request.

[2016-06-01 14:39] dserrada commented on #36
Sorry but: What's the known bug associated with the trace? I'm looking for it but i couldn't find it.

[2016-06-01 14:48] jcaden commented on #36
@dserrada  The previous version of kurento media server had a buggy implementation of flow in and flow out events. This is already fixed on 6.5.0. The trace present in [this comment](https://github.com/Kurento/bugtracker/issues/36#issuecomment-190474314) is related to this bug.

[2016-06-01 14:52] dserrada commented on #36
Ok.

I'm using Version: 6.4.1~5. and I'm seeing this trace from time to time, with the associated server crash. Is related to any element o test case I can avoid?

[2016-06-01 15:07] jcaden commented on #36
You should update, there is no way to workaround it.

[2016-06-02 21:24] s-silva opened #80 "WEBM audio doesn't work (v6.5.0)"
Audio is silent for WEBM recordings created with Kurento.
Works perfectly on v6.4.0, but it failed on both:

[code]

[code]

Probably an issue in recorderEndpoint, I could play the files perfectly by just dragging and dropping the files to a Chrome tab but when I tried to play them through playerEndpoint the audio was silent in the playback stream. Then I tried to open the files using VLC and it h

[2016-06-03 06:24] igracia commented on #80
@jcaden We should check this.

[2016-06-03 07:52] jcaden commented on #80
@s-silva Have you found the issue on our demos? Just to be sure that we have the same test environment.

Could you also provide the versions gstreamer plugins installed with 6.4.0 and 6.5.0? Just paste the output of `dpkg -l | grep gst | grep 1.5` in both cases.

Thanks

[2016-06-03 10:46] soifs commented on #80
Recorded files didnt have audio on vlc even on 6.4.0.
i havent tried to play it on playerEndpoint on that version but on 6.5.0 that i tried now there is no audio.
On both versions if i drag n drop the file on the brower i have audio, so the audio is there but cant be played on vlc and playerEndpoint.

[2016-06-03 10:54] jcaden commented on #80
@soifs Newer versions of VLC has support for opus but older ones doesn't. Update VLC if you want to play them correctly.

[2016-06-03 11:03] soifs commented on #80
@jcaden I am using the latest vlc version (2.2.3)

as i said in kurento list

i see that vlc supports opus since 2.0.4 (try the example file on the link) https://trac.videolan.org/vlc/ticket/7185
Also vlc plays opus audio from webm files generated from MediaRecorder Api (example here https://simpl.info/mediarecorder/ )

Maybe a bug on recorder endpoint?

[2016-06-03 11:41] s-silva commented on #80
@jcaden

v.6.4.0
[code]

v6.5.0
[code]

I'm using node libraries and there were no demos for recorderEndpoint and playerEndpoint. I'll attach two of my test apps which were based on hello-world demo app. And yes, the test apps show the same issue.

Both apps use 127.0.0.1:8888 Kurento URI and has the same setup procedure:
[code]

Recorder:
Runs on http://localhost:8080/, click 'Start' to record.

[2016-06-03 12:47] jcaden commented on #80
@s-silva It seems that the libraries are outdated for version 6.5.0, should be somethink like 1.8.0~20160530.... Try updating running `sudo apt-get update && sudo apt-get dist-upgrade`. Then test again version 6.5.0, it should work.

[2016-06-03 12:48] jcaden commented on #80
@soifs Could you send a video sample that plays correctly on chrome but not in vlc? Do you have a way to create more of this videos?

[2016-06-03 12:53] dfernandezlop commented on #68
Hi,

There is information about the bug in the public list and in this bugtracker (for example https://github.com/Kurento/bugtracker/issues/53).

[2016-06-03 12:55] dfernandezlop commented on #76
Any update?

[2016-06-03 14:11] #44 closed

[2016-06-03 14:57] jcaden commented on #77
@bhushanvadgave can you share kms log here?

[2016-06-03 14:58] #62 closed

[2016-06-03 14:59] jcaden commented on #62
Please, use the list to ask questions. Bugtracker is only for bugs.

[2016-06-03 15:03] igracia commented on #77
@bhushanvadgave If you access your page through HTTPS, and your KMS is using plain WS, you'll get a mixed content alert in your browser.  There's no way you'll be able to signal KMS if you can't connect to it. You should get an error in your JS console, in your browser.

[2016-06-03 15:03] soifs commented on #80
i had the same output to `dpkg -l | grep gst | grep 1.5` like s-silva on the updated kurento server v.6.5.0
[code]
and here is a sample
[recorder_demo.zip](https://github.com/Kurento/bugtracker/files/297708/recorder_demo.zip)

after `sudo apt-get update && sudo apt-get dist-upgrade`

[code]
sample after the gsteamer update.
[recorder_demo2.zip](https://github.com/Kurento/bugtracker/files/297800/re

[2016-06-03 15:15] igracia commented on #70
They are declared [here](https://github.com/Kurento/kurento-client-js/blob/master/package.json). If that's ok, you can proceed and close the issue.

[2016-06-03 15:17] igracia commented on #68
@mcchin Can you confirm that it's solved, so we can close the issue?

[2016-06-03 15:18] jcaden commented on #80
It seems that vlc can only play opus in mono, and this video is recorded in stereo, it's the only difference I can see. About the problem with kurento player, we need a little bit more time to test it.

[2016-06-03 16:09] s-silva commented on #80
@jcaden thanks! Running `sudo apt-get update && sudo apt-get dist-upgrade` and restarting the server fixed it for me. PlayerEndpoint is working fine now.

VLC still fails to play the audio but it's probably just a limitation in VLC. FFmpeg worked well with the files (tested by extracting audio using FFmpeg).

I'm going to leave the issue open since `dist-upgrade` didn't fix the issue for @soifs.

[2016-06-03 16:33] soifs commented on #80
@s-silva
playerEndpoint works well here too, you can close it :)
So it's vlc's issue not playing stereo.

[2016-06-03 17:46] s-silva commented on #80
Cool! Closing the issue.

[2016-06-03 17:46] #80 closed

[2016-06-03 18:58] tgabi333 commented on #70
Strictly speaking `kurento-client-core-js` and `kurento-client-js` are different packages.

[2016-06-03 19:04] igracia commented on #70
Indeed, though they are indivisible, so to speak. Right  before those `require` statements, you have a `var kurentoClient = require('kurento-client');`. Those dependencies are transitive deps from the `kurento-client-js` project. Having those deps also defined in child projects, would require us to manage the same dependency in many projects. For the sake of maintenance, we decided to keep all in

[2016-06-03 19:11] tgabi333 commented on #70
Thanks for the explanation @igracia.

[2016-06-03 19:11] #70 closed

[2016-06-03 20:00] jcaden commented on #80
Great thaht your problem is solved! Thanks for closing.

[2016-06-05 00:54] nahuel opened #81 "turnURL parameter in WebRtcEndpoint.conf.ini doesn't support @ characters in usernames"
`WebRtcEndpoint.conf`/`turnURL`  syntax is defined as `user:password@address:port(?transport=[udp|tcp|tls])`, so you can't include an `@` character in the username. This makes the free STUN/TURN server http://numb.viagenie.ca/ unusable, because when you register in it the TURN username you get is your mail address.

[2016-06-05 07:25] igracia commented on #81
Well, that's not something we have any saying at, as it's the regular way to pass credentials in [basic access authentication](https://en.wikipedia.org/wiki/Basic_access_authentication#URL_encoding). Something more concrete [here](https://tools.ietf.org/html/rfc5389#section-10.2.2).

You'll have to escape them. See [this](https://stackoverflow.com/questions/6718471/escaping-username-characters-in-

[2016-06-05 08:54] NassiHarel commented on #76
Hi,

kurento-client-js: 6.2.0
KMS: 6.1.1

didn't try it yet, we will upgrade and let you know.

Thanks.

[2016-06-05 19:31] nahuel commented on #81
Escaping `@` using `%40` in `turnURL` doesn't work. Also note usernames and passwords can't be included in standard TURN uri's:

https://tools.ietf.org/html/rfc7065#section-4
https://tools.ietf.org/html/rfc7065#appendix-B

The links you cited are related to HTTP, not TURN. For example browsers accepts TURN servers defined as `{"url":"turn:numb.viagenie.ca","username":"ngreco@gmail.com","credential

[2016-06-05 20:04] igracia commented on #81
You are right, sorry for misguiding you. I'll reopen the issue.

[2016-06-06 06:50] rbenitez commented on #4
Hi @tsonghong,

in the last version of [kurentoClient](https://github.com/Kurento/kurento-client-js/commit/70c1a7872ce16d7d9abda52770c6cfc5a972a965), we have fixed this bug, in this [patch](https://github.com/Kurento/kurento-client-js/commit/e65b8c3623b4af5a3e7589189896717febc68318). Now you can register the different modules and the order is not important. There is a new method for getting the co

[2016-06-06 06:50] #4 closed

[2016-06-06 08:08] #26 closed

[2016-06-06 08:09] igracia commented on #22
@jcaden Did the patch make it into 6.5.0?

[2016-06-06 08:11] igracia commented on #46
@Absor Is this still happening?

[2016-06-06 08:13] igracia commented on #48
@tsonghong Is this still happening in 6.5.0?

[2016-06-06 08:13] igracia commented on #51
@rbenitez Did this bug get fixed?

[2016-06-06 08:15] rbenitez commented on #51
@igracia No for the moment.

[2016-06-06 08:19] #68 closed

[2016-06-06 08:31] jcaden commented on #22
No, sorry.

[2016-06-06 10:43] rbenitez commented on #41
Hi @kirushyk,

We have fixed this problem with this [commit](https://github.com/Kurento/kurento-tutorial-node/commit/32cd7f30d3a5497801485f49a2065d104a6f0c84)

Please update the tutorials and try again.

[2016-06-06 10:43] #41 closed

[2016-06-06 10:45] kirushyk commented on #41
Good :-)

[2016-06-06 12:12] valterlorran commented on #51
I installed in other server and it worked for me

[2016-06-06 12:13] igracia commented on #51
@valterlorran Perhaps it's the node/npm version?

[2016-06-06 12:16] valterlorran commented on #51
@igracia I'm not sure, but make sense for me :)

[2016-06-06 12:18] igracia commented on #51
@valterlorran Do you still have access to the non-working copy? Would be great if you could check both versions, in working and non working server, so we can add more info to the bug.

[2016-06-06 12:22] valterlorran commented on #51
@igracia I'm sorry, I dont have, we deleted it.

[2016-06-06 19:21] destromas1 opened #82 "Running Server with `npm start` in PROD? or forever or PM2 ?"
https://github.com/Kurento/kurento-tutorial-node/blob/master/README.md

Here as used `npm start` which by default run `node server.js` , this should be for runnint the app locally , right ? In P{ROD , We should use `forever` or `PM2` ? what you guys officially suggest for PRODUCTION?

[2016-06-06 20:12] igracia commented on #82
Well, we suggest never running a tutorial in production, that's the first thing. That code is not production-grade, so to speak. Be that as it may, from what I know the best way is probably `PM2`.

Also, please don't use the bugtracker for questions or asking for help. It's better to post in the list, as there are more followers than here, so you are bound to find help more quickly.

[2016-06-06 20:12] #82 closed

[2016-06-07 00:56] tsonghong commented on #4
Thanks.

Henry

On Mon, Jun 6, 2016 at 2:50 PM, Raúl Benítez Mejías <
notifications@github.com> wrote:

--
*We do everything against time in search of a complete life.*

[2016-06-08 14:09] rbenitez commented on #71
Please, @tgabi333 have you got any example more specific?

Thanks!

[2016-06-08 14:13] tgabi333 commented on #71
@rbenitez i will create a gist, just give me a few minutes, thank you.

[2016-06-08 14:22] kirushyk opened #83 "Kurento sends the RTP Data to the address in the Origin but it should send it to the address in the Connection Data"
We get a 200 OK and in the sdp Origin is the address of the switch (it’s a siemens OpenScape).
In the Connection Data is a different address – that’s the right one and belongs to the SIP Telefon that answered the call.

The Problem is that the Kurento sends the RTP Data to the address in the Origin but it should send it to the address in the Connection Data.

[code]

Log:

[code]

[2016-06-08 14:29] tgabi333 commented on #71
This is the simplest example.
[code]

[2016-06-08 14:38] rbenitez commented on #71
Thanks! I will try on this example and as soon as possible I will say something

[2016-06-08 14:40] tgabi333 commented on #71
The main problem is that we promisify callbacks with native Promise. But it won't resolve causing 100% cpu.

I would suggest that use es6-promise only if there is no existing Promise implementation available.

[2016-06-08 14:47] kirushyk commented on #83
We want KMS to send RTP data to `10.21.3.10`, as we mentioned in
`c=IN IP4 10.21.3.10`
Instead, KMS sends RTP data to `10.20.2.200`, as we mentioned in
`o=Zoiper_user 0 1049407200 IN IP4 10.20.2.200`

[2016-06-09 06:35] jahKIper opened #84 "KMS SDP videocodec config"
We are using KMS 6.5. We want to change default value of "Maximum video bitrate", "Minimum video bitrate" and "Starting video bitrate" for KMS server(not on clients side). (https://www.webrtc-experiment.com/docs/RTP-usage.html)
We changet SdpEndpoint.conf.json like this:
  "videoCodecs" : [
    {
      "name" : "VP8/90000",
        "properties" : {
            "maxaveragebitrate": 5000,

[2016-06-10 14:52] rbenitez commented on #71
HI @tgabi333,

Sorry for the delay, I have done some tests with this issue.

We have updated the es6-promise version and add promise in the dependencies, in this [patch](https://github.com/Kurento/kurento-client-js/commit/4059d44d6aca09982607a0c479b9cedbf2f9dae7). And now, if you add in your code:

`var Promise = requiere('promise');`
before:
[code]
The problem is solved.

[2016-06-13 14:11] igracia commented on #84
Since this is not a bug report, but a question, I'm closing the issue. Please use the list for support requests or general questions, and the bugtracker project for reporting bugs.

[2016-06-13 14:11] #84 closed

[2016-06-13 14:14] igracia commented on #77
@bhushanvadgave  Did you make any progress?

[2016-06-13 16:25] tgabi333 commented on #71
Hi @rbenitez!

Thanks for your work, but it does not help in this case. It work well if i used your promise library (both es6-promise v2 and v3).

But mixing promises with your non-native es6-promise implementation breaks node v6.

Native promises are more performant and widely available both in browsers and in nodejs (since 0.12)

I suggest to use the native implementation where you can and only

[2016-06-14 07:04] bhushanvadgave commented on #77
Yes @igracia, I set up a Coturn server by following [this](http://doc-kurento.readthedocs.io/en/stable/faq.html#install-kurento-media-server-in-an-amazon-ec2-instance) documentation and it worked with internet (no-proxy). But currently I have scenario where my KMS,  Coturn servers and NodeJS client are deployed in cloud VMs but JS client is in corporate network (behind proxy). Do I need to set up

[2016-06-14 07:50] igracia commented on #77
@bhushanvadgave You'll probably need to provide TURN configuration for your clients too. Use this code in your JS client code

[code]

If that's ok with you, I'll proceed and close the issue, as it's already solved. I'll wait for your answer.

[2016-06-14 08:22] yehiyam opened #85 "Kurento process memory issues"
We're using Kurento for one to many distribution of WebRTC.

Currently we are using Kurento 6.1.1 on Ubuntu 14.04 in a docker container.

When running tests 60 presenters, and 60 viewers. All viewers are connected to the same presenter.
After about one day, we see that the amount of memory that the kurento process is using is growing in a linear manner.
Using the serverManager->getPipelines->getCh

[2016-06-14 13:38] rbenitez commented on #51
Hi @valterlorran, in this [commit](https://github.com/Kurento/kurento-client-js/commit/12c753d580907033876beae8d6b9506ab2ec81d1), here is the solution. We have added [tests](https://github.com/Kurento/kurento-client-js/commit/56b90d0a737371fec4c59094ae4997873fc27ad7) for that and it is working now.

Regards

[2016-06-15 09:03] dserrada opened #86 "Kurento 6.5.0 crash"
**KMS Version**:
Version: 6.5.0
Found modules:
        Module: 'core' version '6.5.0'
        Module: 'elements' version '6.5.0'
        Module: 'filters' version '6.5.0'

**Other libraries versions**:

ii  gstreamer1.5-libav:amd64             1.7.0.1~20160530102916.35.g90e6470.trusty  amd64        libav plugin for GStreamer
ii  gstreamer1.5-nice:amd64              0.1.13.1~20160530102934.80.gd9ef

[2016-06-20 08:39] jcaden commented on #86
@rbenitez Can you create an integration test for this, please? Ask whatever details you need you reproduce the exact same situation.

[2016-06-20 08:42] jcaden commented on #85
@rbenitez Can you create a stability test for this, please?

@yehiyam Could you add some details about how the endpoints are exactly connected? Was the memory problem triggered by some action (ie: browser disconnected, new user added, etc).

[2016-06-20 08:45] #50 closed

[2016-06-20 08:47] jcaden commented on #45
It seems that the latest libnice version (master branch) fixes this issue, but TURN UDP stopped working. We are trying to fix everything before closing this issue.

[2016-06-20 08:48] jcaden commented on #76
We are closing this for inactivity.

[2016-06-20 08:48] #76 closed

[2016-06-21 07:12] jcaden commented on #46
It seems is still happening https://groups.google.com/forum/#!topic/kurento/f7u2PhSraok

@Absor could you describe the rtp source that you are using? Most probably the cause of the problem is in that source.

[2016-06-21 07:42] Absor commented on #46
In this case I am using another Kurento as the source. The other Kurento pipeline is RtpEndpoint -> HubPort -> DispatcherOneToMany -> HubPort -> RtpEndpoint (output). Then the receiving RtpEndpoint is on the other Kurento.

Sorry for re-posting on the forums, I had forgotten this bug and the tracker you were using.

[2016-06-21 07:43] Absor commented on #46
Seems to be an error with vp8enc again, but another error message this time. I haven't seen the original error message after upgrading Kurento version.

[2016-06-21 07:48] Absor commented on #46
The original rtp source (to the other instance, that seems to have no problems) is ffmpeg if this helps/matters.

[2016-06-21 07:53] jcaden commented on #46
Yes, it matters, there could be some problem with the formats. How are you exactly using ffmpeg to send media?

[2016-06-21 09:18] Absor commented on #46
The source format is h264, ffmpeg says it is:

    Stream #0:0(und): Video: h264 (libx264), yuv420p, 1280x720, q=-1--1, 23.98 fps, 90k tbn, 23.98 tbc (default)

I still transcode it in the tests using ffmpeg (no copy option, but vcodec libx264):

    ffmpeg -re -i video.mp4 -an -vcodec libx264 -preset ultrafast -tune zerolatency -f rtp -srtp_out_suite AES_CM_128_HMAC_SHA1_80 -srtp_out_params ZDJ4U

[2016-06-21 09:21] Absor commented on #46
ffmpeg SDP

[code]

RtpEndpoint is negotiated with:

[code]

[2016-06-21 09:30] jcaden commented on #46
Thank you!
Does is fail independently to the video.mp4 choose or is just with a specific one? Could it be shared?

[2016-06-21 12:45] yehiyam commented on #85
@jcaden The big memory increase was when no action was performed.
Prior to the big increase, we were stress testing the system (adding and removing viewers, i.e. browsers).
Also worth mentioning: we have a timer that periodically samples the statistics from all source peers. We suspect that this is connected to the memory increase.

Another use case in which we notices an increase in memory (altho

[2016-06-21 12:51] jcaden commented on #85
@yehiyam how long does it take from the stress tests to the memory leak? Some minutes (under 10) or some hours?

[2016-06-21 14:05] tomhouman commented on #67
I am using self-signed certs and have achieved full mutual authentication from client to server, using stunnel in front of KMS. This required the ability to pass in socket options to the client upon creation. My pull request should resolve this issue: https://github.com/Kurento/kurento-client-js/pull/2.

[2016-06-21 14:10] Absor commented on #46
I will try to isolate the problem better and get a repeatable case, will keep you updated.

[2016-06-21 14:24] jcaden commented on #46
Cool, thanks.

[2016-06-21 14:35] tgabi333 commented on #71
@rbenitez, @igracia , Please reopen this this ticket, it is not solved. Force the clients to use the same promise library as yours is not a solution. I really appreciate your work, this software is amazing, could you please be more open to pull requests, i'd really like to contribute to your project to improve the quality of the software.

[2016-06-21 19:22] rbenitez commented on #46
Hi,

we have a test for this problem [here](https://github.com/Kurento/kurento-java/blob/master/kurento-integration-tests/kurento-test/src/test/java/org/kurento/test/functional/agnostic/AgnosticRtpEndpointToWebRtcWithFfmpegTest.java). With this test we have the same problem and we get sometimes a segmentation fault in the kms.

[2016-06-22 11:33] kasperkronborg opened #87 "Kurento keeps consuming server resources until the point where it times out requests"
**KMS Version**:
Version: 6.4.0
Found modules:
Module: 'core' version '6.4.0'
Module: 'elements' version '6.4.0'
Module: 'filters' version '6.4.0'

**Other libraries versions**:
ii  gstreamer1.5-libav:amd64             1.7.0.1~20160224182850.34.g1d2c0c1.trusty  amd64        libav plugin for GStreamer
ii  gstreamer1.5-nice:amd64              0.1.13.1~20160224182402.77.g7bbb87a.trusty amd64        I

[2016-06-22 17:18] yehiyam commented on #85
@jcaden Sometimes it happened within an hour and other times it only started overnight (after 5 or 6 hours)

[2016-06-23 08:29] rbenitez commented on #71
@tgabi333  sorry for the delay, we will do some tests about your proposal.

[2016-06-23 08:52] rbenitez commented on #86
Hi @dserrada, I have some questions.

1.  Which is the difference for you between "videoconference manager" and "normal users"?
2.  The "normal users" browser, is it emitting video and audio or only audio?, because in the constraint, I see that audio is true.
3. The "normal users" browser, does it receive video and audio or not?

Thanks for your answers

[2016-06-23 10:07] dfernandezlop commented on #48
I'm going to close the bug because there isn't new information since two months ago.

[2016-06-23 10:07] #48 closed

[2016-06-23 12:02] rbenitez commented on #85
Hi @yehiyam, I have a question

In this part of the thread, you said:

Do you want to mean that the anothers (59 source) haven't any client connected to them?

Thanks

[2016-06-23 12:19] yehiyam commented on #85
@rbenitez
In this test that was the case.

[2016-06-23 13:53] rbenitez commented on #85
Thanks @yehiyam

[2016-06-23 14:18] dserrada commented on #86
Hi @rbenitez:

   In all the videoconferences there are only one manager and one or more normal users, normally only one. All participants in the videoconference emits and receives video and audio. For all users audio is recorded (one webm file for each user), and for manager the video is recorded with the audio (in one webm file).

So the answers to your questions are:

1. The difference is only

[2016-06-23 14:22] rbenitez commented on #86
Hi @dserrada ,

Thank you for your answers. We will do an integration test with this scenario to try of replicate  your issue.

Regards

[2016-06-27 08:36] rbenitez commented on #86
Hi @dserrada,

we have been working in this issue but we haven't been able to reproduce your problem yet. I want to confirme that the scenario is right.

All WebRtcEndpoint are created with Audio and Video and Send/Recv mode.

WebRtcEndpoint0 connects to WebRtcEndpoint1
WebRtcEndpoint0 connects to Recorder0

WebRtcEndpoint2 connects to WebRtcEndpoint3
WebRtcEndpoint2 connects to Recorder1 (With Me

[2016-06-27 11:44] rbenitez commented on #86
Also, If you have more kms logs with this error, please send it to us

[2016-06-27 13:47] Lisitskiy opened #88 "Kurento crash on releasing pipeline"
**KMS Version**:  6.5.0

`0:00:00.032077048    69       0xa3f210 INFO    KurentoModuleManager ModuleManager.cpp:156:loadModules: Looking for modules in /usr/lib/x86_64-linux-gnu/kurento/modules

0:00:00.033347252    69       0xa3f210 DEBUG   KurentoModuleManager ModuleManager.cpp:89:loadModule: Module loaded from /usr/lib/x86_64-linux-gnu/kurento/modules/libkmsfiltersmodule.so

0:00:00.033494432

[2016-06-27 14:33] jcaden commented on #88
@Lisitskiy Where did you get kurento docker image? Did you built it yourself?

Are all this libraries version for the ones installed in the docker container or are they get from the host?

[2016-06-27 14:38] Lisitskiy commented on #88
Hi.
I get it from https://hub.docker.com/r/kurento/kurento-media-server/
All from docker

Before testing this on docker image - i have received same crash on kms installed from doc manual.

[2016-06-27 14:44] jcaden commented on #88
@rbenitez Can you try to reproduce the bug in a test? Thanks.

[2016-06-27 14:47] rbenitez commented on #88
@jcaden yes, we will add this into ours planification

[2016-06-28 07:03] dserrada commented on #86
Hi @rbenitez

First, let me explain which is the workflow in the normal case of two user (manager and  normal user) and how the connections are created.

First, the two users creates end points and connect to the Kurento server in no particular order:
1. WebRtcEndpoint0 (manager) connects to WebRtcEndpoint1
2. WebRtcEndpoint2 (normal user) connects to WebRtcEndpoint3

(or in reverse order, first 2

[2016-06-28 07:08] Absor commented on #46
Any ideas on why? Is it ffmpeg output? I was not able to reproduce this after the day I got these errors, seems very random.

[2016-06-28 07:22] jcaden commented on #46
It seems that ffmpeg is using a h264 profile (or at least NAL units) that is not supported by gstreamer, but I need further investigation.

This log entry gave me the clue:

    rtph264depay0:NAL unit type 26 not supported yet

[2016-06-28 07:28] jcaden commented on #46
@rbenitez @Absor Can you confirm if media is transmitted from ffmpeg to KMS using UDP and not TCP?

[2016-06-28 08:16] Absor commented on #46
I will check, I also explained my setup more related to another issue I have here if it is any help, SDP with another profile in use there too: https://groups.google.com/forum/#!topic/kurento/7ck5JTx9r2o

[2016-06-28 08:57] Absor commented on #46
ffmpeg is sending using UDP.

[2016-06-28 13:37] roxlu opened #89 "kms-core cmakelists.txt incorrect check for gstreamer pkg-config file"
**KMS Version**: commit e351913efae7a6dbe78acbb2895af4256df38796

I'm trying to compile the kms-core from source (with custom gstreamer) but it fails because the `generic_find()` tries to locate `gstreamer-1.5.pc` but gstreamer generates gstreamer-1.0.pc, even for gstreamer version 1.8.2. This could be easily solved by searching for 1.0 instead.

See https://github.com/Kurento/kms-core/blob/master

[2016-06-28 13:40] jcaden commented on #89
This is done in purpose as we are using our own gstreamer version. This is basically a fork of gstreamer that we have tested and that we update when we need new changes or bugfixes

[2016-06-28 13:40] #89 closed

[2016-06-28 15:03] roxlu commented on #89
Ah! jcaden thanks, maybe it's a good idea to communicatie that in all the repositories?  Or maybe I just didn't see it in the readme.

[2016-06-28 15:05] roxlu opened #90 "MediaSet.cpp needs to include <iostream>"
**KMS Version**: 7cd22fb7e287805f61275a8066b205c5d8c3002d

The kms-core repository doesn't compile on arch-linux, MediaSet.cpp needs to include iostream, otherwise you'll get an error regarding unexisting std::cerr.

[2016-06-29 09:00] rbenitez commented on #86
Hi @dserrada,

we have added this [test](https://github.com/Kurento/kurento-java/blob/master/kurento-integration-tests/kurento-test/src/test/java/org/kurento/test/stability/recorder/RecorderWebRtcAudioVideoAndWebRtcOnlyAudioSimultaneous.java) in our system test. This test will execute all nights, so when we will can be able to reproduce it, we will can repair it.

Thanks

[2016-06-29 09:04] igracia commented on #9
@mariotacke Probably you are right. Nevertheless, the future of the library is uncertain, so we are not putting much effort into that. If you don't mind, we can close the issue.

[2016-06-29 17:20] mariotacke commented on #9
That's fine with me.

[2016-06-30 09:59] thegobot opened #91 "Compile KMS with debbugging?"
how to compile a binary with debugging? Is it possible?

[2016-06-30 10:25] igracia commented on #91
@thegobot This project is used for reporting bug. Since this is a question, let me kindly ask you to post your question in the official list (https://groups.google.com/forum/#!forum/kurento). For that reason, I'm also closing the issue.

[2016-06-30 10:25] #91 closed

[2016-07-01 09:15] igracia opened #92 "[tutorials-node] Candidates are lost due to a misplaced clearCandidatesQueue call when starting a new session"
**KMS Version**: Any

**What is the expected result?**
Webrtc should be negotiated correctly
**What happens instead?**
Webrtc is not correctly negotiated. Some candidates are lost.
**Description**
There is an invocation to clearCandidatesQueue when a new presenter or viewer join. It is possible that candidates are lost in the following conditions:
- Client creates WebRtcPeer in browser
- Candidate

[2016-07-01 12:38] #9 closed

[2016-07-01 22:03] metal3d opened #93 "kms-elements interface json files are not valid"
I'm working on the kurento golang generator and I decided to finish my work but the bad surprise is that some json files are not valid in kms-elements.
I'm using these files to generate golang structures and methods.

Example:
kms-elements/src/server/interface/elements.PlayerEndpoint.kmd.json

The problem is that strings contains real carriage returns instead of "\n".

I will need to fix it myself

[2016-07-02 08:27] MichaelSavin opened #94 "feature request: nanomsg binding"
Nanomsg organizes distributed message delivery using WebSocket transport mechanism. It could be useful for projects like elasticRTC.

[2016-07-02 09:14] jcaden commented on #93
The json parsing is supossed to be done by KurentoModuleCreator, then you need to provide templates to this program in order to generate code for each language.

He have tested and KurentoModuleCreator is parsing all kmd's correctly. My advice is to use templates for generating the binding as KurentoModuleCreator is also consolidating modules and importing dependencies.

[2016-07-02 09:14] #93 closed

[2016-07-03 08:56] metal3d commented on #93
One year ago, the team told me to use this files to generate bindings for Go: https://github.com/metal3d/kurento-go-generator that worked and I was able to connect server. You say  to me that, today, I have to recreate the entire generator ? Only because the file is not valid ?

[2016-07-03 09:16] jcaden commented on #93
The way we have always generated clients code is by using KurentoModuleCreator to read kmd files and process different templates for each language. Sorry for the misunderstanding, maybe it could be easy to adapt the generator to use KurentoModuleCreator templates.

[2016-07-03 10:01] metal3d commented on #93
Unfortunatly no... so I'm currently testing the generator and I try to
understand the template language. I'm checking how you generate cpp code
and right now I'm able to get Go structures + constructors.
Thanks to point me to generator. I think it's a better solution to use the
same tool as you.
Maybe template documentation exists somewhere ?
One more time: Nice work

Le dim. 3 juil. 2016 11:16, J

[2016-07-03 17:06] cmroche opened #95 "Unable to connect WebRTC on Android with Libjingle (SSL Error 6)"
**KMS Version**:

[code]

**Other libraries versions**:

[code]

**Client libraries**
- Language: Ubuntu
- Version: 14.04
- Notes: Run in docker
- Library: Libjingle (Android, Release)
- Version: 13105 (Issue also happens as far back as 12296)

**Browsers tested**
  Add OK or FAIL, along with the version, after browsers where you
have tested this issue:
- Chrome: OK
- Firefox: Unknown (Failed due

[2016-07-04 07:03] jcaden commented on #93
Templates are written using Freemaker. Here is a link to the specific version we are using http://freemarker.org/docs/versions_2_3_19.html

[2016-07-05 22:04] MariFio opened #96 "KMS 6.5.0, appRTC android to Firefox build 47.0 on MacOsx -- Recorded File corrupted in meta-data"
**KMS Version**:

Version: 6.5.0
Found modules:
    Module: 'core' version '6.5.0'
    Module: 'elements' version '6.5.0'
    Module: 'filters' version '6.5.0'

**Other libraries versions**:

ii  gstreamer0.10-nice:amd64  0.1.4-1  amd64        ICE library (GStreamer 0.10 plugin)
ii  gstreamer1.0-nice:amd64    0.1.4-1   amd64        ICE library (GStreamer plugin)
ii  gstreamer1.5-libav:amd64   1.7.

[2016-07-06 07:02] jcaden commented on #96
Hi, could you please try using the nightly builds?

I think that the problem is caused by timestamps due to a bug on some clients. We have improved the synchronization algorithm to workaround this problems, maybe this could solve your issue.

[2016-07-06 08:04] MariFio commented on #96
Hi José,
I am really so grateful to you for the support.
Ok I'll try to have a nightly build installed, do I have to follow instruction in the documentation at page 273 and, moreover, do I have to update also client kurento libraries according to latest version of the nightly build?

[2016-07-06 08:36] jcaden commented on #96
It's enough if you upgrade your kms. I don't know what do you mean by page 273, sorry.

[2016-07-06 08:41] MariFio commented on #96
Hi José sorry for misunderstandings I was referring to the official kurento documentation related to nightly builds. BTW, I've updated kurento... now i am going to try...keep you updated.

[2016-07-06 08:54] MariFio commented on #96
I've run my android app with the native webRTC stack (no openWebRTC).
Now it seems that the file is not corrupted any more. I am able to stream it and to download it correctly but if I right click on the file to check properties now it gives me 0 seconds as its length.

Despite this, everything is working now and the file seems not to be corrupted.
Do you have an idea on why now it gives 0 seconds

[2016-07-06 09:10] jcaden commented on #96
The 0 length can happen with `webm` videos if they are not correctly closed (calling stopAndWait) or if they are stored using a transport different than file:/// is this your situation.

[2016-07-06 09:25] MariFio commented on #96
mmm ok! I'll have a further check on this...
I'm pretty sure that I'm closing the file with stopAndWait but I'll check and be back to you as soon as I can on this.

For sure I can tell you that I'm using file:///.
Keep you updated on this.

Thanks for everything.
Mario

[2016-07-06 12:50] sancane commented on #46
Hi there!

The problem here is that you are sending encoded video to an RTPEndpoint that is not configured to use SDES, so all that errors in encoders are the result of trying to interpret the encoded media flow as if it wasn't encrypted.

Furthermore, I detected several issues in your example. First of all, as defined in RFC4568, SRTP security descriptions MUST only be used with the SRTP transpor

[2016-07-06 19:06] Frenzy88 opened #97 "The MediaStream 'ended' event is deprecated and will be removed in M53, around September 2016.(Chrome)"
A minor issue with updating the current kurento utls lib's according to the new chrome event handling.
chrome warns the following message when using the kurento-util's :
**kurento-utils.js:394** The MediaStream 'ended' event is deprecated and will be removed in M53, around September 2016. Please use the MediaStream 'inactive' event instead. See
[https://www.chromestatus.com/features/57304043717918

[2016-07-06 20:30] igracia commented on #97
Thanks! We'll get that fixed, either in this library or in whatever comes next, as the lifetime of the library might be reaching to its end.

[2016-07-07 08:47] Absor commented on #46
I was using rtp/savpf, that sdp was a bad copy paste. I also configure the crypto in the endpoint. The video stream has worked and these problems came randomly.

What seems to have fixed the problems now was updating to ubuntu 16.04 and using your packages for it. Maybe something to do with newer libraries?

[2016-07-07 09:44] MariFio commented on #96
So I can confirm that:
- The path of the file begins with file://
- I end the recording operation as specified in previous message.

I do not know probably, could it be that the stopAndWait invocation in the wrong place?

[2016-07-07 09:58] sancane commented on #46
quite probable

[2016-07-07 11:59] kontonieaktywne1 opened #98 "KMS 6.5.0, Ubuntu 14.04 LTS, only audio recording Android clients"
**KMS Version**:
Version: 6.5.0
Found modules:
        Module: 'core' version '6.5.0'
        Module: 'elements' version '6.5.0'
        Module: 'filters' version '6.5.0'

**Other libraries versions**:
`ii  gstreamer1.5-libav:amd64                 1.7.0.1~20160530102916.35.g90e6470.trusty  amd64        libav plugin for GStreamer
ii  gstreamer1.5-nice:amd64                  0.1.13.1~20160530102934.

[2016-07-08 08:08] jcaden commented on #85
It seems that this issue is related with #87

[2016-07-08 08:09] jcaden commented on #87
Lets follow the discussion in #85

[2016-07-08 08:09] #87 closed

[2016-07-08 20:46] mhassman opened #99 "RTP video timestamps seldomly increment on kurento 6.5.0 - worked ok in 6.4.0."
Hi,
I'm troubleshooting an issue related to RTP from kurento to ffmpeg and came across an issue: RTP video timestamps aren't incrementing correctly in kurento 6.5.0 - audio timestamps are working fine in both versions.

I tried attaching screen caps of the issue - comparing packet captures on 6.4.0 and 6.5.0.. also included the respective .pcap files, but github tells me .zip files aren't supporte

[2016-07-09 04:45] mhassman commented on #99
fyi.. i retested on kurento v6.5.1 - timestamp problem appears to be resolved.  :-)

[2016-07-09 04:45] #99 closed

[2016-07-12 23:05] interfaith commented on #59
is this needed ?
  getUserMedia(constraints, function (stream) {
              //  videoStream = stream;
              audioStream = stream;
                start();
            }, callback);
        }

[2016-07-15 06:01] glennjgonzales opened #100 "RecorderEndpoint callbacks are not called when recording fails"
**KMS Version**:
[code]

**Other libraries versions**:

Paste output of executing `dpkg -l | egrep -i "kurento|gst.*1.5|nice"` in the
machine where KMS is running
[code]

**Client libraries**
- Language: Java
- Version: 6.5.1-SNAPSHOT

**Browsers tested**
- Only on Chrome

**Does it happen with one of the tutorials?**

Yes, tested on the kurento-tutorial-java/kurento-one2one-call-recording

**Issu

[2016-07-15 16:57] hdlopesrocha opened #101 "KMS 6.5.0, Ubuntu 14.04 LTS, cannot play recorded files or cannot record with remote kurento repository"
**KMS Version**: 6.5.0
**Kurento Repository Version**: 6.5.0

**Other libraries versions**:

**Client libraries**
- Language: Java
- Version: 8

**Browsers tested**
- Firefox: 47.0
- Chrome: 51.0.2704.103

**System description:**
    I deployed my system using docker: kurento repository, kurento media server and mongodb (they have different names and they are in the same network)

**What steps wil

[2016-07-18 03:58] MickyH opened #102 "ICE_GATHER_CANDIDATES_ERROR when test KMS 6.5.0 with kurento-tutorial 6.5.0 kurento-hello-world"
**KMS Version**:

Paste output of `kurento-media-server -v` in the machine where KMS is running
Version: 6.5.0
Found modules:
        Module: 'core' version '6.5.0'
        Module: 'elements' version '6.5.0'
        Module: 'filters' version '6.5.0'

**Other libraries versions**:

Paste output of executing `dpkg -l | egrep -i "kurento|gst.*1.5|nice"` in the
machine where KMS is running

ii  gstrea

[2016-07-18 09:25] isaacrj opened #103 "Keyframe issue when connecting two RtpEndpoints"
I'm just trying to use Kurento to relay a H264 video feed from one gstreamer pipeline (Alice) to another (Bob).  Alice is encoding a simple videotestsrc to H264, and  Bob is decoding it and rendering to a AutoVideoSink. To do this, I'm using two RtpEndpoints connected together. One of them receives Alice's video feed, the other one sends this feed to Bob.

If Alice's pipeline is started before Bob

[2016-07-20 09:07] dhcn opened #104 "using kurento-room-client in android post issue:java.lang.NoSuchMethodError: No virtual method setEndpointIdentificationAlgorithm"
07-20 16:47:51.652 7492-7492/demo.webrtc.ab.com.webrtckurento E/AndroidRuntime: FATAL EXCEPTION: main
Process: demo.webrtc.ab.com.webrtckurento, PID: 7492
java.lang.NoSuchMethodError: No virtual method setEndpointIdentificationAlgorithm(Ljava/lang/String;)V in class Ljavax/net/ssl/SSLParameters; or its super classes (declaration of 'javax.net.ssl.SSLParameters' appears in /system/framework/core-li

[2016-07-22 11:36] sancane commented on #83
Hi @kirushyk
It seems there was a bug parsing SDP session attributes, If you don't want to wait for the patch to be applied either to master development branch or released in the next version, you could set the connection attribute inside the m-line.That way it should work fine.

Thank for the report.
Regards

[2016-07-22 17:57] abes-dabir opened #105 "Bug in room demo:"
I noticed a small bug in the Kurento Room Demo v6.5.0 involving the participant switching feature.  The JS code keeps switching to the newly detected active participant, even if that participant is already the main speaker.  This causes a flickering in the video being shown in the browser.  It's a simple fix and I've put in a pull request here for your consideration:

https://github.com/Kurento/ku

[2016-07-25 10:40] pritambarhate commented on #31
It will be great, if there is documentation where all the files added by Kurento installation are listed. This way one can backup all those files before upgrading Kurento.

I am also in a situation where a server has older version which works with the code deployed. However the same codebase doesn't seem to work with the latest version. So before upgrading to the latest version, it would be good t

[2016-07-25 14:19] Lisitskiy commented on #85
Hello. I have same problem with kms from docker.
Mem Usage grows up very fast. Can be 2Gb per 1h.
Do you have some advices for it ?

[2016-07-25 15:25] igracia commented on #31
I think that the best practice in that case is to have a staging
environment, when you can make all the appropriate tests before rolling the
new version. That would really be the best thing to do. That way, if your
software does not go well with the new version, there's nothing to roll
back.
On lun, 25 jul 2016 at 12:40, Pritam Barhate <notifications@github.com>
wrote:

[2016-07-26 10:22] javierlopezfernandez commented on #31
Support for installation of older versions is available since 6.4.0. You'll need to add following repository URL:

deb http://ubuntu.kurento.org/6.4.0 trusty kms6
deb http://ubuntu.kurento.org/6.5.0 trusty kms6
...

In order to install stable you'll want to use:

deb http://ubuntu.kurento.org trusty kms6

[2016-07-28 11:28] Qsstechnosoft commented on #67
Hi @igracia , I am new to the kurento. Really awesome work!!  I succeeded in getting the group call done for various platforms except iOS device. On iPhone I opened the URL say https://172.31.98.207:8443, it prompt with the error "Connection Error. Please reload page." and a black screen for camera view. I don't get why this is happening. Also, if you get a workaround for implementing the kurento

[2016-07-28 12:20] igracia commented on #67
@Qsstechnosoft Safary does not have WebRTC support, you'll need to create a native app.

For questions, please use the public list.

[2016-07-28 13:43] Qsstechnosoft commented on #67
Yes that's true, however I tried in google chrome in iOS. Do you want to say that none of the browsers chrome, firefox which normally support webRTC don't work on any iOS device. The only work around is to create a native app?

[2016-07-28 14:27] igracia commented on #67
Yes, that's correct. You can try [Bowser](http://www.openwebrtc.org/bowser/), maybe.

In any case, a simple search would have told you that ;-)

[2016-07-30 03:29] pc-cfa opened #106 "node.js playerEndpoint.setPosition(position); is complaining "Could not check position, unknown type int64""
Still appears to be working, cosmetic bug only

.../node_modules/kurento-client/node_modules/kurento-client-elements/lib/PlayerEndpoint.js
#168 checkType('int64', 'position', position, {required: true});

Version  6.5.0 of everything

[2016-08-01 12:09] daniloarcidiacono opened #107 "KMS 6.5.0: "Too many threads" check fails when it shouldn't"
**KMS Version**:

Version: 6.5.0
Found modules:
        Module: 'core' version '6.5.0'
        Module: 'elements' version '6.5.0'
        Module: 'filters' version '6.5.0'

**Other libraries versions**:

ii  gstreamer1.5-libav:amd64             1.7.0.1~20160530102916.35.g90e6470.trusty  amd64        libav plugin for GStreamer
ii  gstreamer1.5-nice:amd64              0.1.13.1~20160530102934.80.gd9e

[2016-08-02 06:59] igracia opened #108 "[6.5.1-dev] WebRTC E2ELatency statistics yields weird values"
**KMS Version**: 6.5.1~2.gf0a369a

**Other libraries versions**:
core. Version: 6.5.1~48.ge351913
elements. Version: 6.5.1~14.g0da04da
filters. Version: 6.5.1~1.ge5b1703

**Client libraries**
- Language: JS

**Browsers tested**
  Add OK or FAIL, along with the version, after browsers where you
have tested this issue:
- Chrome: 52

**Description**
Using the statistics tutorial from [the official re

[2016-08-02 07:52] suhail339 opened #109 "Reconnect to server undefined"
I am accessing remote KMS at http://93.104.213.28:8888 from my locally setup tutorial project for one2manycall.

I am getting error Reconnect To Server 1 10000 undefined

Denug Log:

0 info it worked if it ends with ok
1 verbose cli [ 'C:\\Program Files\\nodejs\\node.exe',
1 verbose cli   'C:\\Users\\Suhail\\AppData\\Roaming\\npm\\node_modules\\npm\\bin\\npm-cli.js',
1 verbose cli   'start',
1 ver

[2016-08-02 08:58] #109 closed

[2016-08-02 09:00] jcaden commented on #109
@suhail339  What was the problem?

[2016-08-02 10:38] jcaden commented on #107
This commit https://github.com/Kurento/kurento-media-server/commit/ad1fda48096d1f0b18bf181560317ea04096c5f3 should fix the issue.

[2016-08-02 10:38] #107 closed

[2016-08-02 11:57] suhail339 commented on #109
I have closed this issue due to my some stupid mistakes.
-> kurento.config.json on remote server(server port missing)
-> npm start -- --ws_uri=ws://93.104.213.28:8888/kurento(didnt use kurento at the end)

[2016-08-02 12:44] jcaden commented on #109
Thanks for the explanation.

[2016-08-02 20:25] swetabedmutha09 opened #110 "Not able to debug the pointerdetector module the test suite fails."
**KMS Version**:

Paste output of `kurento-media-server -v` in the machine where KMS is running

**Other libraries versions**:

Paste output of executing `dpkg -l | egrep -i "kurento|gst.*1.5|nice"` in the
machine where KMS is running

**Client libraries**
- Language: <Java, Node.js, JavaScript, homebrewed>
- Version:

**Browsers tested**
  Add OK or FAIL, along with the version, after browsers wh

[2016-08-02 20:38] swetabedmutha09 commented on #110
KMS version:

Version: 6.5.0
Found modules:
	Module: 'core' version '6.5.0'
	Module: 'elements' version '6.5.0'
	Module: 'filters' version '6.5.0'
	Module: 'pointerdetector' version '6.5.0'

Other libraries version:

ii  gir1.2-gst-plugins-base-1.5                           1.8.0~20160530103212.387.g21728a3.trusty            amd64        Description: GObject introspection data for the GStreamer Pl

[2016-08-03 04:20] simon-fu opened #111 "kurento crash when using pranswer"
**KMS Version**:

Version: 6.5.0

**Other libraries versions**:
[code]

**Client libraries**
- Language: java
- Version:

**Browsers tested**
  Add OK or FAIL, along with the version, after browsers where you
have tested this issue:
- Chrome: NOT test
- Firefox: NOT test
- Native: FAIL

**System description:**
    Please describe your setup (where is KMS located, where are the
    clients, STUN, T

[2016-08-03 07:48] jcaden commented on #111
Hi, it seems that you have compiled KMS yourself. Have you done any modifications that can cause the segmentation fault?

Can you try with distributed debian packages and see if the segmentation fault is also present?

[2016-08-03 14:39] memreas opened #112 "Amazon Web Services - usage of Kurento with Elastic Load Balance which provides server certificate"
Hi,

I'm trying to integrate Kurento with my Amazon Web Services backend.  I've found that the tutorial samples have an included server cert which raises an unknown server cert exception on chrome, firefox, etc.  I would like to know how to remove the server cert so I can user Elastic Load Balancer's DNS and server certificate.  I've tried to modify the server.js code but I'm fairly new to node.js

[2016-08-03 17:28] jcaden commented on #112
Please see guidelines before reporting. This is a question and should be addressed to mailing list.

[2016-08-03 17:28] #112 closed

[2016-08-04 03:11] simon-fu commented on #111
I try 6.4.0 and crash still happen

[2016-08-04 04:56] jcaden commented on #111
Can you try with las development versión, please? If it fails, can you paste here the stack trace?
It will be awesome if you could install dbg packages so the trace contains more information.

It will also be great to have a program that allows us to reproduce the problem.

[2016-08-05 10:40] dfernandezlop commented on #110
Hi,

In order to execute module tests you should run `make check` in the build directory. I just check tests and they are working fine:

[code]

These tests are code tests, you are not going to view any window. If you want to see demos related to modules, you should take a look to kurento tutorials in any flavour (java, js, or node).

I'm closing the bug.
Regards.
David.

[2016-08-05 10:40] #110 closed

[2016-08-05 11:21] fengcc opened #113 "Static build kurento-media-server problems"
I have a big problem that confused me many weeks. For project needs, I have to rebuild the kurento-media-server with statically libraries. I rebuild all dependent libraries statically and modified some cmakelist.txt, and finally I rebuild it successful. But when I run it use command `/usr/bin/kurento-media-server -d .` an error occurred and show :

[code]

I use gdb to debug it :

[code]

and ther

[2016-08-05 22:04] swetabedmutha09 commented on #110
What do you mean by code check?

I don't really understand the purpose of the test folder because it doesn't really call any functionality for the src folder.

Thanks

[2016-08-10 11:01] Lisitskiy opened #114 "KMS memory grows up and not release when i use rtpEndpoint for presenter"
@**KMS Version**:

Version: 6.5.0
Found modules:
        Module: 'core' version '6.5.0'
        Module: 'elements' version '6.5.0'
        Module: 'filters' version '6.5.0'

**Other libraries versions**:

ii  gstreamer1.5-libav:amd64             1.7.0.1~20160224182850.34.g1d2c0c1.trusty  amd64        libav plugin for GStreamer

ii  gstreamer1.5-nice:amd64              0.1.13.1~20160224182402.77.g7

[2016-08-10 11:11] igracia commented on #114
Does it happen with the latest dev version?

[2016-08-10 11:15] Lisitskiy commented on #114
I Test it in docker with dev too

[2016-08-10 11:33] Lisitskiy commented on #114
Sory, i forgot send link to axample for reproducing
[https://github.com/Lisitskiy/kurento-one2many](url)

[2016-08-11 20:14] Lisitskiy commented on #114
Hello, have you reproduce it?

[2016-08-12 06:39] igracia commented on #114
Sorry, half of the time is out these days. It will take some time till we can get someone to look into this.

[2016-08-16 06:06] isaacrj commented on #103
Hi again!

Do you need me to provide additional info or to do any further testing to help with the investigation?

[2016-08-16 07:22] jcaden commented on #114
Seems to be related with #85

Have you tried with development version, it's not completely fixed, but it should be better.

[2016-08-16 07:24] #114 closed

[2016-08-16 07:24] jcaden commented on #85
We have improved this behavior a little bit on development version, but we are still working on it.

[2016-08-16 13:37] Lisitskiy commented on #114
I have a same result with dev kms.

Can  you test my attached app. Unlike  task #85,  memory in my app starts leaking at first seconds after starting second presenter.

[2016-08-17 09:03] jcaden commented on #110
They are unit test of the plugin. Tests load the plugin and perform some actions that imply this module. Is the way we use to tests the plugins, this folders are in all our repositories.

Maybe you don't see direct call to any function in the src folder, but they are implicitly done by the GStreamer plugin system.

Cheers

[2016-08-17 10:11] jcaden commented on #114
@Lisitskiy thanks, we will try your app.

@sancane can you have a look at @Lisitskiy application when you have a chance?

[2016-08-17 12:12] sancane commented on #114
Of course I will

[2016-08-18 17:35] spiermar opened #115 "KMS 6.5.0 -- No audio on RtpEndpoint [H264/AAC]"
**KMS Version**:

Version: 6.5.0
Found modules:
       	Module: 'core' version '6.5.0'
       	Module: 'elements' version '6.5.0'
       	Module: 'filters' version '6.5.0'

**Other libraries versions**:

ii  gstreamer1.5-libav:amd64             1.7.0.1~20160530102916.35.g90e6470.trusty  amd64        libav plugin for GStreamer
ii  gstreamer1.5-nice:amd64              0.1.13.1~20160530102934.80.gd9e

[2016-08-18 17:40] spiermar commented on #115
Just noticed something interesting in the config files. No AAC. I'll try adding it and report back.

[2016-08-18 18:24] spiermar commented on #115
Problem solved. Missing the codec in the SDP configuration. Had to add

[code]

[2016-08-18 18:24] #115 closed

[2016-08-19 08:42] igracia commented on #115
Should have filed the bug on the first place: you would have solved that faster!

Thanks a lot for the feedback.

[2016-08-19 09:53] bschmitlin opened #116 "kurento-client always crashes on node.js >=6.3 (dependency bug)"
using node 6.4 with kurento-client@6.5.0 connected to latest master branch kurento-server.

Due to (from my understanding) an incompatibility of the ws library with node.js 6.3, when opening the websocket kurento-client crashes the node app:

2016-08-19T09:13:32.432Z - error: RangeError: out of range index
    at RangeError (native)
    at fastCopy (/Users/benoit/git/rtc/node_modules/ws/lib/Receiv

[2016-08-19 12:33] jcaden commented on #77
As we don't have response from @bhushanvadgave we proceed to close the issue

[2016-08-19 12:33] #77 closed

[2016-08-19 12:36] jcaden commented on #22
The functionality is already in the development version will be included in the next release, probably with number 6.6.0

[2016-08-19 12:36] #22 closed

[2016-08-19 14:09] gsantner opened #117 "CVE-2016-2107 OpenSSL vulnerabilitiy (critical)"
**KMS Version**:
Version: 6.5.0
Found modules:
	Module: 'core' version '6.5.0'
	Module: 'elements' version '6.5.0'
	Module: 'filters' version '6.5.0'

**Other libraries versions**:
[code]

**Client libraries**
- Language: Doesn't matter
- Version: Doesn't matter

**Browsers tested**
  Add OK or FAIL, along with the version, after browsers where you
have tested this issue:
- Chrome: Doesn't matter

[2016-08-19 14:12] jcaden commented on #117
Thanks for the report, we will try to fix it asap

[2016-08-19 14:15] jcaden commented on #117
In the meanwhile, if you install 1.0.2f just downloading from xenial repository may do the trick. I haven't checked if this is possible because of the dependencies but it's probably.

[2016-08-19 14:19] jcaden commented on #117
Just checked and installing xenial libssl version in trusty works.

[2016-08-19 15:58] spiermar commented on #115
True! I was always checking the logs for errors and couldn't find anything. Only when I copied the full log I noticed the beginning of the file, with the config files. Tks again @igracia !

[2016-08-21 19:35] mikesi opened #118 "kurento-utils-js getUserMedia function not found with latest adapter.js"
**KMS Version**:

6.5

I get:
ReferenceError: getUserMedia is not defined
 /bower_components/kurento-utils/js/kurento-utils.js:412:13 getMedia()
 /bower_components/kurento-utils/js/kurento-utils.js:418:13 WebRtcPeerSendonly.WebRtcPeer()
 /bower_components/kurento-utils/js/kurento-utils.js:533:31 new WebRtcPeerSendonly()

If i use the latest adapter.js, if I use and older one it works OK.

[2016-08-22 08:56] gsantner commented on #117
Thanks for your workaround, it works.
But note: The fix was backported to [1.0.2g on Ubuntu Xenial](http://changelogs.ubuntu.com/changelogs/pool/main/o/openssl/openssl_1.0.2g-1ubuntu4.1/changelog), not 1.0.2f
And OpenSSL still states their 1.0.2h is their first release with the fix included.

[2016-08-22 09:47] jcaden commented on #117
Great, my idea was to provide 1.0.2g-1ubuntu4.1 so the fix should be included

[2016-08-22 13:14] Lisitskiy commented on #114
Hi @sancane, have you some info about thos task?
Thanks alot.

[2016-08-23 10:27] Nek- commented on #118
Hello,

This is not really an issue as you used the wrong version of adapter.js. But well, the kurento utils lib should really be updated as the 0.2.9 version of adapter.js is really TOOOOOOO old (and browsers are gonna cut retro compatiblity on some api it uses).

Btw, the changes should also be report to the v6.2.0 of the kurento utils api.

[2016-08-24 05:05] Nileshwagh22 opened #119 "Kurento can not support h264 RTSP video source with MPEG-2 transport(MP2T)"
I have successfully tested Kurento media server with raw h264 RTSP stream from file using Live555(RTSP server) Library to WebRTC stream on browser.

But in real time we have h264 RTSP stream with MPEG-2 transport (MP2T), I am streaming it using Live555 and access using VLC media player.It works fine. But when I pass h264 RTSP stream with MPEG-2 transport(RTSP url) to PlayerEndpoint of KMS and acce

[2016-08-24 09:45] sancane commented on #114
Hi @Lisitskiy,
I still have not a clear image about what is happening in there, all that i can see are small accumulative leaks in external libraries, perhaps they might justify that amount of memory consumtion when used in huge pipelines.
Still working on it, I'll keep you update

[2016-08-24 10:57] jcaden commented on #119
Please, for further bug reports, use the template we provide. This way we don't need to ask a bunch of information all the time, it should be included in the report.

Can you provide the exact versions of the libraries that you are using? (dpkg command in the template)

Can you try with latest development version?

Can you provide a rtsp source (or a simple way to generate it) that makes kms fail?